.profile-section{
  position: relative;
  height: 1500px;
  width: 100%;
  background-color: $section-bg-color;

  .about-title{
    position: absolute;
    right: $profile-sm-right;
    top: $about-title-top;
    text-align: end;
    font-size: 4.86111vw;
    font-weight: 500;
    line-height: 70px;
    color: transparent;
    -webkit-text-stroke: 1px #c1c1c1;
    
    span{
      text-decoration: underline;
    }

    .change-color{
      color: $border-color;
      -webkit-text-stroke: 1px $border-color;
    }
  }
  .about-text{
    @include text-style(16);
    position: absolute;
    top: $about-tex-top;
    left: $profile-sm-left - 15px;
    padding: 15px;
    color: #272418;

    .text{
      transition: all .5s ease-in-out;
      transform: translateX(-100px);
      opacity: 0;

      &.fade-in{
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  @include responsive(T){

    .about-title{
      font-size: 3.8vw;
    }    

    .about-text{
      @include text-style(18);
    }
  }

  @include responsive(D){

    .about-title{
      right: $profile-lg-right;
      font-size: 3vw;
      line-height: 80px;
    }

    .about-text{
      left: $profile-lg-left - 15px;
    }
  }
}

