.tech-skill{
  @include flexbox-column(center, center);
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
  


  .skill{
    @include flexbox-column(center, center);
    margin-top: 50px;
    width: 100%;
  }
}
