.title-section{
  @include flexbox-column(center,center);
  width: 100%;
  height: 100vh;
  background-color: $title-bg-color;
  // background-color: #F1ECE5;

  .title{
    // @include flexbox(center,center);
    font-family: 'Prata', serif;
    margin-bottom: -230px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 80px;
    opacity: 0;
    filter: blur(30px);
    transform: translateY(30px);
    transition: all .2s ;
    z-index: $title-z-index;
  }

  p{
    @include pos-center-x;
    bottom: -150px;
    font-family: 'Prata', serif;
    font-size: 250px;
    color: #009bfc;
    // color: #e5e5e5;
  }

  

  @include responsive(T){
    .title{
      font-size: 90px;
      line-height: 110px;
    }

    p{
      bottom: -150px;
      font-size: 300px;
    }
  }

  @include responsive(D){
    .title{
      font-size: 100px;
      line-height: 150px;
    }

    p{
      bottom: -200px;
      font-size: 350px;
    }
  }
}
