.title-section{
  @include flexbox-column(center,center);
  width: 100%;
  height: 100vh;
  background-color: $title-bg-color;

  .title{
    // @include flexbox(center,center);
    font-family: 'Prata', serif;
    margin-bottom: -230px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 80px;
    transform: translateY(100px);
    transition: all 1s ;
    z-index: $title-z-index;

    span{
      opacity: 0;
      filter: blur(50px);
      transition: all 1.5s ;
      transition-delay: calc(var(--i) * 0.1s) ;
    }

    //Title-active
    &.active{
      span{
        opacity: 1;
        filter: blur(0);  
      }
    }
  }

  p{
    @include pos-center-x;
    bottom: -150px;
    font-family: 'Prata', serif;
    font-size: 250px;
    color: #009bfc;
    z-index: calc($title-z-index - 1);
    // color: #e5e5e5;
  }

  #TitleCanvas canvas{
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $title-bg-color;
  }

  @include responsive(T){
    .title{
      font-size: 80px;
      line-height: 120px;
    }

    p{
      bottom: -150px;
      font-size: 300px;
    }
  }

  @include responsive(D){
    p{
      bottom: -200px;
      font-size: 350px;
    }
  }
}
