.header-menu{
  @include pos-center-y;
  @include flexbox(center,center);
  right: 0px;

  // #horizontal-underline{
  //   position: absolute;
  //   bottom: 0px;
  //   left: 0;
  //   width: 0;
  //   height: 3px;
  //   background-color: $border-color;
  //   transition: all .3s ease-in-out;
  // }

  &-list{
      position: relative;
      width: 80px;
      transition: all .7s ease-in-out;


      a{
        @include flexbox(center,center);
        @include text-style(12);
        width: 100%;
        height: 100%;
        color: #fff;
        transition: all .5s ease-in-out;

        &:active, &:focus{
          outline: none;
          box-shadow: none;
          -webkit-tap-highlight-color: transparent;
        }
      }

      &::before{
        @include pos-center-y;
        content: '';
        width: 2px;
        height: 12px;
        left: 0;
        background-color: #7e7678;
      }

      &::after{
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $border-color;
        transform: scale(0);
        transform-origin: left;
        transition: all .3s ease-in-out;
      }

      &:hover{
        &::after{
          transform: scale(1);
        }
      }

      &:first-child::before{
        display: none;
      }

      &:active, &:focus{
        outline: none;
        box-shadow: none;
        -webkit-tap-highlight-color: transparent;
      }
  }

  @include responsive(T){
    &-list{
      width: 85px;

      a{
        @include text-style(16);
      }
    }

  }

  @include responsive(D){
    right: 30px;

    &-list{
      width: 100px;

      a{
        @include text-style(18);
      }
    }
  }

}

