.skill{
  
  .skill-title{
    @include  text-style(30);
    // font-size: 35px;
    font-size: 20px;
    margin-bottom:25px;
    // font-weight: 500;
    font-weight: 700;
    border-bottom: 3px solid $border-color;
    color: #000;
  }

  .skill-list{
    @include flexbox-column(center,center);
    // @include flexbox(center,center);
    position: relative;
    width: 850px;
    transition: all 1s ease-in-out;
    // flex-wrap: wrap;

    .skill-wrap{
      @include flexbox(center,center);
      // width: 100%;

      /* ==================== [card box design]  ==================== */
      .box{
        position: relative;
        margin: 10px;
        width: 20%;
        max-width: 150px;
        min-width: 100px;
        height: 180px;
        background: $card-bg-color;
        border-radius: 20px;
        overflow: hidden;
        transform-style: preserve-3d;
        transition: all .5s ease-in-out;
        transition-delay: calc(var(--i) * 0.1s) ;
        will-change: transform;
        cursor: pointer;
    
        /* ===== circle content ===== */
        &::before{
          content: "";
          position: absolute;
          top: -30px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #9bdc28;
          clip-path: circle(40px at 80% 20%);
          transition: 0.5s ease-in-out;
          opacity: 0;
        }
       
    
        /* ===== skill text content ===== */
        &::after{
          content: "skill";
          position: absolute;
          bottom: 10px;
          right: 5px;
          color: #fff;
          font-size: 5em;
          font-weight: 900;
          font-style: italic;
          transform: rotate(331deg);
          transition: 0.5s;
          opacity: 0.04;
    
        }
    
    
        /* ===== icon name ===== */
        .name{
          @include text-style(16);
          z-index: 10;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          color: #fff;
          text-align: center;
          transform-style: preserve-3d;
          transform: translate3d(0, 0, 20px);
          transition: 0.5s;
          opacity: 0;
        }
       
    
        
        /* ===== icon ===== */
        .icon{
          z-index: 11;
          position: absolute;
          top: 60%;
          left: 50%;
          max-width: 70px;
          transform-style: preserve-3d;
          transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
          transition: 0.5s ease-in-out;
          opacity: 0;
        }

        &:active, &:focus{
          outline: none;
          box-shadow: none;
          -webkit-tap-highlight-color: transparent;
        }
    
      }
      
      /* ==================== [skill-wrap left || right]  ==================== */
      &.left{
        .box{
          transform: translateX(-1000px) rotate(-720deg);
        }
      }

      &.right{
        .box{
          transform: translateX(1000px) rotate(720deg);
        }
      }
  
      /* ==================== [card box flip animation]  ==================== */
      .box.active{
        transform: translateX(0) rotate(0deg);


        &::before{
          opacity: 0.8;
        }

        .icon{
          opacity: 1;
        }

        /* ===== box,flip:hover ===== */

        &:hover{
          &::before{
            clip-path: circle(150px at 80% -20%);
          }
    
          .name{
            bottom: 30px;
            opacity: 1;
          }
    
          .icon{
            top: 50%;
            transform: translate3d(-50%, -50%, 50px) rotate(-15deg);
          }
        }
        
      }

      /* ============================= [card Icon design]  ============================= */
     
      // 스킬  
      .box.html::before{
        background-color: #ff5722;
      }
    
      .box.css::before{
        background-color: #0277bd;
      }
    
      .box.js::before{
        background-color: #FFCA28;
      }
    
      .box.sass::before{
        background-color: #D56EA3;
      }

      .box.pug::before{
        background-color: #FCD6A0;
      }
      
      // 프론트 엔드
      .box.bootstrap::before{
        background-color: #840AFA;
      }
    
      .box.jquery::before{
        background-color: #0268AE;
      }

      .box.vue::before{
        background-color: #3EAF7C;
      }

      .box.react::before{
        background-color: rgb(97,218,251);
      }

      .box.redux::before{
        background-color: rgb(118,74,189);
      }

      .box.next::before{
        background-color: #fff;
      }

      

      // 백 엔드
      .box.nodejs::before{
        background-color: #90C53F;
      }
    
      // 도구
      .box.git::before{
        background-color: #EBE6E1;
      }

      .box.babel::before{
        background-color: #F1D53D;
      }

      .box.webpack::before{
        background-color: #33A8F2;
      }

      .box.jest::before{
        background-color: #99425B;
      }

      .box.netlify::before{
        background-color: rgb(37, 199, 183);
      }

      .box.amazon-s3::before{
        background-color: rgb(244, 82, 67);
      }
    }
  
  }

  /* ==================== [Tablet]  ==================== */
  @include responsive(T){
    .skill-title{
      color: $section-bg-color;
    }

    .skill-list{
      flex-direction: row;   


      .skill-wrap{
        // width: 50%;
        .box{
          width: 115px;
          height: 220px;

          &::before{
            clip-path: circle(50px at 80% 20%);
          }

          .name{
            @include text-style(18);
          }

          .icon{
            max-width: 85px;
          }

          &:hover{

            .name{
              bottom: 35px;
            }
          }
        }
        .box.flip{
          &:hover{
            &::before{
              clip-path: circle(175px at 80% -20%);
            }
          }
        }
      }
    }
  }


  /* ==================== [Desk top]  ==================== */
  @include responsive(D){
    .skill-list{
      .skill-wrap{
        .box{
          width: 150px;
          height: 250px;

          &::before{
            clip-path: circle(60px at 80% 20%);
          }

          .name{
            @include text-style(30);
            font-size: 22px;
          }

          .icon{
            max-width: 100px;
          }

          &:hover{
            .name{
              bottom: 40px;
            }
          }
        }
        .box.flip{
          &:hover{
            &::before{
              clip-path: circle(200px at 80% -20%);
            }
          }
        }
      }
    }
  }
}




