.project-card{
  position: relative;
  margin: 50px auto;
  margin-bottom: 0;
  max-width: 300px;
  height: 215px;
  border-radius: 20px;
  background: $card-bg-color;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.2);
  transition: all .5s ease-in-out;
  transition-delay: calc(var(--i) * 0.2s);
  z-index: $toy-prject-z-index;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;


  .bg-effect{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    opacity: 0.95;
    background: $card-bg-color;
    transform: translate(-50%,-50%);
    transition: width .5s, height .5s;

    &.starbucks{
      background: #ffbbc3;
    }

    &.inv-clone{
      background: #ffcd93;
    }

    &.tomorrow-house{
      background: #208bd9;
    }

    &.moviecart{
      background-color: #3EAF7C;
    }

    &.closca-shop{
      background: rgb(97,218,251);
    }

    &.camping-blog{
      background: #e71d36;
    }

  }

  .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: margin-top .5s ease-in-out, opacity .8s ease-in-out;

    h2{
      @include text-style(24);
      margin-bottom: 15px;
    }
  }

  .project-btn-group{
    @include pos-center-x;
    display: none;
    margin-top: 20px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    align-self: center;
    transition: opacity .9s ease-in-out;

    .project-btn{
      position: relative;
      flex-shrink: 0;
      transition: box-shadow 1s ease-in-out, color 1.3s ease-in-out;
      color: #fff;

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &:hover{
         box-shadow: inset 0 -3.4em 0 0 #f8f8f8; 
         color: #000;

         &::before{
          animation: pulse 1s;
          box-shadow: 0 0 0 2em rgba(#fff,0);
         }

         @keyframes pulse {
          0% { box-shadow: 0 0 0 0 #fff; }
        }
      }

      
    }

  }


  &:hover, &:active, &:focus{
    height: 450px;

    .bg-effect{
      width: 1500px;
      height: 1500px;
    }

    .content{
      margin-top: 100px;
      visibility: visible;
      opacity: 1;
    }

    .project-btn-group{
      @include flexbox(around,center);
      opacity: 1;
      visibility: visible;
    }

  }

  &:active, &:focus{
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
  }

  &.fade-in{
    transform: translateY(-100px);
    opacity: 1;
  }

}


