@charset "UTF-8";
::-webkit-scrollbar {
  width: 10px;
  /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: #5e96ff;
  /* 스크롤바의 색상 */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  /*스크롤바 뒷 배경 색상*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gowun Batang", serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  height: 50px;
  border: 2px solid #111;
  border-radius: 5px;
}

.btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  height: 50px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}

.btn-ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10;
  height: 50px;
  background-color: transparent;
}

.starWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.starWrapper .stars1 {
  width: 2px;
  height: 2px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 237px 12902px #FAFAFA , 1557px 287px #FAFAFA , 948px 1508px #FAFAFA , 203px 1977px #FAFAFA , 1675px 1832px #FAFAFA , 981px 952px #FAFAFA , 39px 242px #FAFAFA , 962px 1753px #FAFAFA , 1375px 816px #FAFAFA , 1141px 1390px #FAFAFA , 1241px 1502px #FAFAFA , 1281px 1641px #FAFAFA , 791px 1698px #FAFAFA , 335px 1888px #FAFAFA , 770px 1497px #FAFAFA , 841px 1963px #FAFAFA , 1237px 1763px #FAFAFA , 1735px 1027px #FAFAFA , 1324px 107px #FAFAFA , 951px 1091px #FAFAFA , 1492px 57px #FAFAFA , 1160px 1798px #FAFAFA , 1312px 1341px #FAFAFA , 977px 1099px #FAFAFA , 821px 234px #FAFAFA , 1426px 1759px #FAFAFA , 61px 1868px #FAFAFA , 1247px 1337px #FAFAFA , 1436px 1184px #FAFAFA , 1592px 1486px #FAFAFA , 423px 1370px #FAFAFA , 862px 878px #FAFAFA , 976px 306px #FAFAFA , 809px 13px #FAFAFA , 112px 1390px #FAFAFA , 480px 1959px #FAFAFA , 1858px 915px #FAFAFA , 1952px 1734px #FAFAFA , 1911px 1915px #FAFAFA , 1536px 153px #FAFAFA , 1265px 1651px #FAFAFA , 1901px 1704px #FAFAFA , 882px 1546px #FAFAFA , 179px 1418px #FAFAFA , 1361px 1242px #FAFAFA , 167px 287px #FAFAFA , 1028px 671px #FAFAFA , 1588px 1311px #FAFAFA , 1281px 1715px #FAFAFA , 1241px 296px #FAFAFA , 313px 978px #FAFAFA , 1887px 686px #FAFAFA , 464px 1049px #FAFAFA , 1591px 1497px #FAFAFA , 746px 1769px #FAFAFA , 2px 866px #FAFAFA , 110px 1127px #FAFAFA , 1759px 1680px #FAFAFA , 782px 1632px #FAFAFA , 1615px 770px #FAFAFA , 766px 1860px #FAFAFA , 1076px 1955px #FAFAFA , 1031px 58px #FAFAFA , 605px 896px #FAFAFA , 1560px 411px #FAFAFA , 1137px 1511px #FAFAFA , 946px 1690px #FAFAFA , 1569px 1406px #FAFAFA , 1513px 255px #FAFAFA , 1078px 876px #FAFAFA , 1279px 499px #FAFAFA , 416px 90px #FAFAFA , 618px 710px #FAFAFA , 1815px 1550px #FAFAFA , 1897px 1236px #FAFAFA , 329px 1941px #FAFAFA , 1599px 1928px #FAFAFA , 1609px 22px #FAFAFA , 305px 1645px #FAFAFA , 814px 1700px #FAFAFA , 1066px 793px #FAFAFA , 962px 925px #FAFAFA , 675px 1141px #FAFAFA , 555px 1115px #FAFAFA , 1871px 1072px #FAFAFA , 1631px 1450px #FAFAFA , 465px 191px #FAFAFA , 1242px 1747px #FAFAFA , 1245px 470px #FAFAFA , 1582px 1425px #FAFAFA , 120px 1396px #FAFAFA , 1593px 78px #FAFAFA , 113px 1833px #FAFAFA , 772px 1180px #FAFAFA , 145px 533px #FAFAFA , 1212px 1014px #FAFAFA , 494px 1299px #FAFAFA , 27px 1829px #FAFAFA , 588px 1391px #FAFAFA , 1565px 1775px #FAFAFA;
  animation: animStar 50s linear infinite;
}
.starWrapper .stars1:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 237px 12902px #FAFAFA , 1557px 287px #FAFAFA , 948px 1508px #FAFAFA , 203px 1977px #FAFAFA , 1675px 1832px #FAFAFA , 981px 952px #FAFAFA , 39px 242px #FAFAFA , 962px 1753px #FAFAFA , 1375px 816px #FAFAFA , 1141px 1390px #FAFAFA , 1241px 1502px #FAFAFA , 1281px 1641px #FAFAFA , 791px 1698px #FAFAFA , 335px 1888px #FAFAFA , 770px 1497px #FAFAFA , 841px 1963px #FAFAFA , 1237px 1763px #FAFAFA , 1735px 1027px #FAFAFA , 1324px 107px #FAFAFA , 951px 1091px #FAFAFA , 1492px 57px #FAFAFA , 1160px 1798px #FAFAFA , 1312px 1341px #FAFAFA , 977px 1099px #FAFAFA , 821px 234px #FAFAFA , 1426px 1759px #FAFAFA , 61px 1868px #FAFAFA , 1247px 1337px #FAFAFA , 1436px 1184px #FAFAFA , 1592px 1486px #FAFAFA , 423px 1370px #FAFAFA , 862px 878px #FAFAFA , 976px 306px #FAFAFA , 809px 13px #FAFAFA , 112px 1390px #FAFAFA , 480px 1959px #FAFAFA , 1858px 915px #FAFAFA , 1952px 1734px #FAFAFA , 1911px 1915px #FAFAFA , 1536px 153px #FAFAFA , 1265px 1651px #FAFAFA , 1901px 1704px #FAFAFA , 882px 1546px #FAFAFA , 179px 1418px #FAFAFA , 1361px 1242px #FAFAFA , 167px 287px #FAFAFA , 1028px 671px #FAFAFA , 1588px 1311px #FAFAFA , 1281px 1715px #FAFAFA , 1241px 296px #FAFAFA , 313px 978px #FAFAFA , 1887px 686px #FAFAFA , 464px 1049px #FAFAFA , 1591px 1497px #FAFAFA , 746px 1769px #FAFAFA , 2px 866px #FAFAFA , 110px 1127px #FAFAFA , 1759px 1680px #FAFAFA , 782px 1632px #FAFAFA , 1615px 770px #FAFAFA , 766px 1860px #FAFAFA , 1076px 1955px #FAFAFA , 1031px 58px #FAFAFA , 605px 896px #FAFAFA , 1560px 411px #FAFAFA , 1137px 1511px #FAFAFA , 946px 1690px #FAFAFA , 1569px 1406px #FAFAFA , 1513px 255px #FAFAFA , 1078px 876px #FAFAFA , 1279px 499px #FAFAFA , 416px 90px #FAFAFA , 618px 710px #FAFAFA , 1815px 1550px #FAFAFA , 1897px 1236px #FAFAFA , 329px 1941px #FAFAFA , 1599px 1928px #FAFAFA , 1609px 22px #FAFAFA , 305px 1645px #FAFAFA , 814px 1700px #FAFAFA , 1066px 793px #FAFAFA , 962px 925px #FAFAFA , 675px 1141px #FAFAFA , 555px 1115px #FAFAFA , 1871px 1072px #FAFAFA , 1631px 1450px #FAFAFA , 465px 191px #FAFAFA , 1242px 1747px #FAFAFA , 1245px 470px #FAFAFA , 1582px 1425px #FAFAFA , 120px 1396px #FAFAFA , 1593px 78px #FAFAFA , 113px 1833px #FAFAFA , 772px 1180px #FAFAFA , 145px 533px #FAFAFA , 1212px 1014px #FAFAFA , 494px 1299px #FAFAFA , 27px 1829px #FAFAFA , 588px 1391px #FAFAFA , 1565px 1775px #FAFAFA;
}
.starWrapper .stars2 {
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 140px 9961px #FAFAFA , 382px 586px #FAFAFA , 51px 363px #FAFAFA , 136px 1266px #FAFAFA , 1588px 974px #FAFAFA , 392px 668px #FAFAFA , 508px 427px #FAFAFA , 8px 454px #FAFAFA , 1367px 725px #FAFAFA , 337px 1079px #FAFAFA , 141px 719px #FAFAFA , 1873px 229px #FAFAFA , 1475px 361px #FAFAFA , 1460px 446px #FAFAFA , 1357px 1516px #FAFAFA , 200px 934px #FAFAFA , 697px 67px #FAFAFA , 1137px 1822px #FAFAFA , 1277px 659px #FAFAFA , 322px 858px #FAFAFA , 1581px 827px #FAFAFA , 190px 630px #FAFAFA , 1857px 1018px #FAFAFA , 1595px 573px #FAFAFA , 387px 1338px #FAFAFA , 1014px 995px #FAFAFA , 854px 625px #FAFAFA , 1684px 515px #FAFAFA , 1067px 1676px #FAFAFA , 285px 1287px #FAFAFA , 917px 266px #FAFAFA , 1023px 1720px #FAFAFA , 1801px 746px #FAFAFA , 436px 973px #FAFAFA , 281px 1546px #FAFAFA , 420px 425px #FAFAFA , 1791px 1845px #FAFAFA , 1976px 952px #FAFAFA , 647px 1066px #FAFAFA , 680px 1979px #FAFAFA , 1440px 1366px #FAFAFA , 1547px 1188px #FAFAFA , 1294px 1716px #FAFAFA , 1255px 49px #FAFAFA , 715px 1305px #FAFAFA , 3px 1133px #FAFAFA , 1283px 988px #FAFAFA , 1798px 1968px #FAFAFA , 438px 43px #FAFAFA , 338px 1462px #FAFAFA , 269px 779px #FAFAFA , 163px 808px #FAFAFA , 1330px 651px #FAFAFA , 1791px 1755px #FAFAFA , 198px 401px #FAFAFA , 280px 1908px #FAFAFA , 250px 231px #FAFAFA , 1560px 1467px #FAFAFA , 1039px 531px #FAFAFA , 372px 236px #FAFAFA , 238px 771px #FAFAFA , 301px 1149px #FAFAFA , 450px 437px #FAFAFA , 1600px 1771px #FAFAFA , 1506px 656px #FAFAFA , 1255px 531px #FAFAFA , 1222px 644px #FAFAFA , 1978px 1121px #FAFAFA , 1332px 1150px #FAFAFA , 1001px 116px #FAFAFA , 86px 856px #FAFAFA , 1855px 1581px #FAFAFA , 1280px 1023px #FAFAFA , 42px 1499px #FAFAFA , 900px 958px #FAFAFA , 453px 1552px #FAFAFA , 1055px 441px #FAFAFA , 808px 1629px #FAFAFA , 1122px 844px #FAFAFA , 498px 1299px #FAFAFA , 118px 1251px #FAFAFA , 670px 1490px #FAFAFA , 840px 167px #FAFAFA , 235px 27px #FAFAFA , 1564px 1210px #FAFAFA , 1264px 249px #FAFAFA , 59px 1452px #FAFAFA , 908px 1036px #FAFAFA , 1704px 1274px #FAFAFA , 789px 470px #FAFAFA , 1267px 23px #FAFAFA , 2px 1686px #FAFAFA , 453px 1108px #FAFAFA , 505px 48px #FAFAFA , 575px 1127px #FAFAFA , 727px 1466px #FAFAFA , 1213px 1428px #FAFAFA , 1219px 1686px #FAFAFA , 1398px 1445px #FAFAFA , 560px 689px #FAFAFA;
  animation: animStar 100s linear infinite;
}
.starWrapper .stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 140px 9961px #FAFAFA , 382px 586px #FAFAFA , 51px 363px #FAFAFA , 136px 1266px #FAFAFA , 1588px 974px #FAFAFA , 392px 668px #FAFAFA , 508px 427px #FAFAFA , 8px 454px #FAFAFA , 1367px 725px #FAFAFA , 337px 1079px #FAFAFA , 141px 719px #FAFAFA , 1873px 229px #FAFAFA , 1475px 361px #FAFAFA , 1460px 446px #FAFAFA , 1357px 1516px #FAFAFA , 200px 934px #FAFAFA , 697px 67px #FAFAFA , 1137px 1822px #FAFAFA , 1277px 659px #FAFAFA , 322px 858px #FAFAFA , 1581px 827px #FAFAFA , 190px 630px #FAFAFA , 1857px 1018px #FAFAFA , 1595px 573px #FAFAFA , 387px 1338px #FAFAFA , 1014px 995px #FAFAFA , 854px 625px #FAFAFA , 1684px 515px #FAFAFA , 1067px 1676px #FAFAFA , 285px 1287px #FAFAFA , 917px 266px #FAFAFA , 1023px 1720px #FAFAFA , 1801px 746px #FAFAFA , 436px 973px #FAFAFA , 281px 1546px #FAFAFA , 420px 425px #FAFAFA , 1791px 1845px #FAFAFA , 1976px 952px #FAFAFA , 647px 1066px #FAFAFA , 680px 1979px #FAFAFA , 1440px 1366px #FAFAFA , 1547px 1188px #FAFAFA , 1294px 1716px #FAFAFA , 1255px 49px #FAFAFA , 715px 1305px #FAFAFA , 3px 1133px #FAFAFA , 1283px 988px #FAFAFA , 1798px 1968px #FAFAFA , 438px 43px #FAFAFA , 338px 1462px #FAFAFA , 269px 779px #FAFAFA , 163px 808px #FAFAFA , 1330px 651px #FAFAFA , 1791px 1755px #FAFAFA , 198px 401px #FAFAFA , 280px 1908px #FAFAFA , 250px 231px #FAFAFA , 1560px 1467px #FAFAFA , 1039px 531px #FAFAFA , 372px 236px #FAFAFA , 238px 771px #FAFAFA , 301px 1149px #FAFAFA , 450px 437px #FAFAFA , 1600px 1771px #FAFAFA , 1506px 656px #FAFAFA , 1255px 531px #FAFAFA , 1222px 644px #FAFAFA , 1978px 1121px #FAFAFA , 1332px 1150px #FAFAFA , 1001px 116px #FAFAFA , 86px 856px #FAFAFA , 1855px 1581px #FAFAFA , 1280px 1023px #FAFAFA , 42px 1499px #FAFAFA , 900px 958px #FAFAFA , 453px 1552px #FAFAFA , 1055px 441px #FAFAFA , 808px 1629px #FAFAFA , 1122px 844px #FAFAFA , 498px 1299px #FAFAFA , 118px 1251px #FAFAFA , 670px 1490px #FAFAFA , 840px 167px #FAFAFA , 235px 27px #FAFAFA , 1564px 1210px #FAFAFA , 1264px 249px #FAFAFA , 59px 1452px #FAFAFA , 908px 1036px #FAFAFA , 1704px 1274px #FAFAFA , 789px 470px #FAFAFA , 1267px 23px #FAFAFA , 2px 1686px #FAFAFA , 453px 1108px #FAFAFA , 505px 48px #FAFAFA , 575px 1127px #FAFAFA , 727px 1466px #FAFAFA , 1213px 1428px #FAFAFA , 1219px 1686px #FAFAFA , 1398px 1445px #FAFAFA , 560px 689px #FAFAFA;
}
@keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2000px);
  }
}

.confetti {
  position: absolute;
  z-index: 1;
}

.confetti-item {
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  border-radius: 2px;
}

:root {
  --dashOffset: 0;
}

.svg-container {
  position: relative;
  height: 100%;
  -ms-scroll-snap-type: y proximity;
  scroll-snap-type: y proximity;
  -webkit-animation: fade-in 0.5s linear 0.5s both;
  animation: fade-in 0.5s linear 0.5s both;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
.svg-container .stroke {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83%;
  stroke-linecap: round;
  fill: none;
  z-index: 0;
}
.svg-container .stroke__wide {
  stroke: #31427c;
  stroke-width: 500;
}
.svg-container .stroke__narrow {
  stroke: #5e96ff;
  stroke-width: 15;
  stroke-dasharray: 30 60;
  stroke-dashoffset: var(--dashOffset);
}
.svg-container .stroke__mask {
  stroke: #f8f8f8;
  stroke-width: 15;
}
.svg-container .stroke__blob {
  display: none;
  fill: #31427c;
}
@media screen and (min-width: 768px) {
  .svg-container .stroke {
    height: 100%;
  }
  .svg-container .stroke__wide {
    stroke-width: 1300;
  }
  .svg-container .stroke__blob {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .svg-container {
    height: 4700px;
  }
  .svg-container .stroke__wide {
    display: block;
    stroke-width: 1500;
  }
}

/*
재사용성 & 유지보수 높은 그리드 시스템 설계

* MOBILE (<768px) -------------------------------------------
* fixture : sm
* columns : 4
* units : 25% - 22.5px  => (100% - (5px * 2))/4 - 20px
* gutter : 20px
* margin : 5px
* container-size : 100% - (5px * 2)

* TABLET (>= 768px) -------------------------------------------
* fixture : md
* columns : 12
* units : 8.333333333333333% - 25px =>  (100% - (30px * 2))/12 - 20px 
* gutter : 20px
* margin : 30px
* container-size : 100% - (30px * 2) 
* max-container-size : 960px

* DESKTOP (>= 1200px) -------------------------------------------
* fixture : lg
* columns : 12
* units : 75px => 1140px/12 - 20px
* gutter : 20px
* margin : auto
* container-size : 1140px
* max-container-size : 1140px

container-size는 그리드시스템이 적용되는 범위
*/
.container {
  /*[ =========== MOBILE ========== ]*/
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
  /*[ =========== TABLET ========== ]*/
  /*[ =========== DESKTOP ========== ]*/
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  transition: all 1s ease-in-out;
}
.container [class^=col-] {
  padding: 0 10px;
}
.container .col-sm-1 {
  width: 25%;
}
.container .col-sm-2 {
  width: 50%;
}
.container .col-sm-3 {
  width: 75%;
}
.container .col-sm-4 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1020px;
    padding: 0 30px;
  }
  .container .col-md-1 {
    width: 8.3333333333%;
  }
  .container .col-md-2 {
    width: 16.6666666667%;
  }
  .container .col-md-3 {
    width: 25%;
  }
  .container .col-md-4 {
    width: 33.3333333333%;
  }
  .container .col-md-5 {
    width: 41.6666666667%;
  }
  .container .col-md-6 {
    width: 50%;
  }
  .container .col-md-7 {
    width: 58.3333333333%;
  }
  .container .col-md-8 {
    width: 66.6666666667%;
  }
  .container .col-md-9 {
    width: 75%;
  }
  .container .col-md-10 {
    width: 83.3333333333%;
  }
  .container .col-md-11 {
    width: 91.6666666667%;
  }
  .container .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
  .container .col-lg-1 {
    width: 95px;
  }
  .container .col-lg-2 {
    width: 190px;
  }
  .container .col-lg-3 {
    width: 285px;
  }
  .container .col-lg-4 {
    width: 380px;
  }
  .container .col-lg-5 {
    width: 475px;
  }
  .container .col-lg-6 {
    width: 570px;
  }
  .container .col-lg-7 {
    width: 665px;
  }
  .container .col-lg-8 {
    width: 760px;
  }
  .container .col-lg-9 {
    width: 855px;
  }
  .container .col-lg-10 {
    width: 950px;
  }
  .container .col-lg-11 {
    width: 1045px;
  }
  .container .col-lg-12 {
    width: 1140px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: transparent;
  font-family: "Satisfy", cursive;
  z-index: 10;
}
.header-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  left: 15px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.header-title a {
  color: #fff;
}
.header-title:active, .header-title:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.header-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  left: 30px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.7s ease-in-out;
  background-color: transparent;
  border-color: #fff;
}
.header-button a {
  color: #fff;
}
.header-button:active, .header-button:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) {
  .header-title {
    opacity: 1;
  }
  .header-button {
    height: 45px;
    opacity: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
  .header-button {
    height: 50px;
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #00155c;
}
.title-section .title {
  font-family: "Prata", serif;
  margin-bottom: -230px;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 80px;
  transform: translateY(100px);
  transition: all 1s;
  z-index: 2;
}
.title-section .title span {
  opacity: 0;
  filter: blur(50px);
  transition: all 1.5s;
  transition-delay: calc(var(--i) * 0.1s);
}
.title-section .title.active {
  transform: translateY(0);
}
.title-section .title.active span {
  opacity: 1;
  filter: blur(0);
}
.title-section p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -150px;
  font-family: "Prata", serif;
  font-size: 250px;
  color: #009bfc;
  z-index: 1;
}
.title-section #TitleCanvas canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00155c;
}
@media screen and (min-width: 768px) {
  .title-section .title {
    font-size: 80px;
    line-height: 120px;
  }
  .title-section p {
    bottom: -150px;
    font-size: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .title-section p {
    bottom: -200px;
    font-size: 350px;
  }
}

.profile-section {
  position: relative;
  height: 1800px;
  width: 100%;
  background-color: #f0f0f0;
  z-index: 3;
}
.profile-section .about-title {
  position: absolute;
  right: 25px;
  top: 400px;
  text-align: end;
  font-size: 4.86111vw;
  font-weight: 500;
  line-height: 70px;
  color: transparent;
  -webkit-text-stroke: 1px #c1c1c1;
}
.profile-section .about-title span {
  text-decoration: underline;
}
.profile-section .about-title .change-color {
  color: #00155c;
  -webkit-text-stroke: 1px #00155c;
}
.profile-section .about-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  position: absolute;
  top: 800px;
  left: 10px;
  padding: 15px;
  color: #272418;
}
.profile-section .about-text .text {
  transition: all 0.5s ease-in-out;
  transform: translateX(-100px);
  opacity: 0;
}
.profile-section .about-text .text.fade-in {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .profile-section .about-title {
    font-size: 3.5vw;
  }
  .profile-section .about-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .profile-section {
    height: 1600px;
  }
  .profile-section .about-title {
    right: 50px;
    line-height: 100px;
  }
  .profile-section .about-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    left: 65px;
    font-weight: 600;
  }
}

.tech-section {
  position: relative;
  padding: 250px 0 250px;
  background: #fff;
}
.tech-section .tech-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
  overflow: hidden;
}
.tech-section .tech-skill .skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
  z-index: 5;
}
.tech-section .tech-skill .skill:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .tech-section .tech-skill .skill {
    margin-bottom: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .tech-section .tech-skill .skill {
    margin-bottom: 450px;
  }
}

.toy-project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 200px 0 200px;
  width: 100%;
  background-color: #f0f0f0;
}
.toy-project-section .imgBx {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 130px;
  left: 50%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #ffcd93;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  transition-delay: calc(var(--i) * 0.2s);
  transform: translateX(-50%);
  opacity: 0;
  z-index: 2;
}
.toy-project-section .imgBx img {
  width: 100%;
  border-radius: 50%;
}
.toy-project-section .imgBx p {
  font-size: 30px;
  font-weight: 700;
  color: #f0f0f0;
}
.toy-project-section .imgBx.fade-in {
  transform: translateX(-50%) translateY(-100px);
  opacity: 1;
}
.toy-project-section .imgBx.starbucks {
  background-color: #D59F9F;
}
.toy-project-section .imgBx.tomorrow-house {
  background-color: #208bd9;
}
.toy-project-section .imgBx.moviecart {
  background-color: #3EAF7C;
}
.toy-project-section .imgBx.closca-shop {
  background: #61dafb;
}
@media screen and (min-width: 768px) {
  .toy-project-section {
    padding: 0;
    background: linear-gradient(#fff 0%, #31427c 90%);
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  background: #383838;
}
.footer .footer-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin-bottom: 80px;
  padding: 10px;
  color: #e2e2e2;
  font-weight: 300;
  border-bottom: 3px solid #5e96ff;
}
.footer .mail {
  margin-bottom: 50px;
  color: #e2e2e2;
  font-family: "Montserrat", sans-serif;
  font-size: 6vw;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.footer .mail:hover {
  color: #5e96ff;
  transform: scale(0.9);
}
.footer .mail:active, .footer .mail:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.footer .footer-tag {
  height: 60px;
  background: linear-gradient(135deg, #6e8efb, #5e96ff);
  border: transparent;
  transform-style: preserve-3d;
}
.footer .footer-tag p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  transform: translate3d(0, 0, 15px);
  transform-style: preserve-3d;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer .footer-title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
  .footer .mail {
    font-size: 50px;
  }
  .footer .footer-tag p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.01em;
    font-size: 20px;
  }
  .footer .mail {
    font-size: 65px;
  }
  .footer .footer-tag p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}

.header-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
}
.header-menu #horizontal-underline {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #5e96ff;
  transition: all 0.3s ease-in-out;
}
.header-menu-list {
  position: relative;
  width: 80px;
  transition: all 0.7s ease-in-out;
}
.header-menu-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.header-menu-list a:active, .header-menu-list a:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.header-menu-list::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 2px;
  height: 12px;
  left: 0;
  background-color: #7e7678;
}
.header-menu-list:first-child::before {
  display: none;
}
.header-menu-list:active, .header-menu-list:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) {
  .header-menu-list {
    width: 85px;
  }
  .header-menu-list a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 1200px) {
  .header-menu {
    right: 30px;
  }
  .header-menu-list {
    width: 100px;
  }
  .header-menu-list a {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
}

.profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  opacity: 0;
  transform: translate3d(-50%, 100px, 0);
  transition: 1s ease-in-out;
}
.profile .profile-photo {
  position: relative;
  height: 300px;
  width: 300px;
  background-image: url(/asset/img/profile-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.profile .profile-photo::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  display: block;
  height: 300px;
  width: 300px;
  border: 2px solid #ffd755;
  transform: translate3d(20px, 20px, 0);
  transition: 0.8s ease-in-out;
  transition-delay: 0.3s;
}
.profile .profile-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile .profile-info h1 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
  margin-right: 10px;
}
.profile .profile-info p {
  color: #7e7678;
}
.profile.active {
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}
.profile.active .profile-photo::after {
  transform: translate3d(0, 0, 0);
}
@media screen and (min-width: 768px) {
  .profile {
    left: 25px;
    transform: translate3d(0, 100px, 0);
  }
  .profile .profile-photo {
    height: 320px;
    width: 320px;
  }
  .profile .profile-photo::after {
    height: 320px;
    width: 320px;
  }
  .profile.active {
    transform: translate3d(0, 0, 0);
  }
}
@media screen and (min-width: 1200px) {
  .profile {
    left: 80px;
  }
  .profile .profile-photo {
    height: 350px;
    width: 350px;
  }
  .profile .profile-photo::after {
    height: 350px;
    width: 350px;
  }
  .profile .profile-info h1 {
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.01em;
  }
}

.skill {
  /* ==================== [Tablet]  ==================== */
  /* ==================== [Desk top]  ==================== */
}
.skill .skill-title {
  font-size: 30px;
  line-height: 44px;
  letter-spacing: -0.01em;
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 700;
  border-bottom: 3px solid #5e96ff;
  color: #000;
}
.skill .skill-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 850px;
  transition: all 1s ease-in-out;
}
.skill .skill-list .skill-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* ==================== [card box design]  ==================== */
  /* ==================== [skill-wrap left || right]  ==================== */
  /* ==================== [card box flip animation]  ==================== */
  /* ============================= [card Icon design]  ============================= */
}
.skill .skill-list .skill-wrap .box {
  position: relative;
  margin: 10px;
  width: 20%;
  max-width: 150px;
  min-width: 100px;
  height: 180px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  transition-delay: calc(var(--i) * 0.1s);
  cursor: pointer;
  /* ===== circle content ===== */
  /* ===== skill text content ===== */
  /* ===== icon name ===== */
  /* ===== icon ===== */
}
.skill .skill-list .skill-wrap .box::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9bdc28;
  clip-path: circle(40px at 80% 20%);
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.skill .skill-list .skill-wrap .box::after {
  content: "skill";
  position: absolute;
  bottom: 10px;
  right: 5px;
  color: #fff;
  font-size: 5em;
  font-weight: 900;
  font-style: italic;
  transform: rotate(331deg);
  transition: 0.5s;
  opacity: 0.04;
}
.skill .skill-list .skill-wrap .box .name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 20px);
  transition: 0.5s;
  opacity: 0;
}
.skill .skill-list .skill-wrap .box .icon {
  z-index: 11;
  position: absolute;
  top: 60%;
  left: 50%;
  max-width: 70px;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.skill .skill-list .skill-wrap .box:active, .skill .skill-list .skill-wrap .box:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.skill .skill-list .skill-wrap.left .box {
  transform: translateX(-1000px) rotate(-720deg);
}
.skill .skill-list .skill-wrap.right .box {
  transform: translateX(1000px) rotate(720deg);
}
.skill .skill-list .skill-wrap .box.active {
  transform: translateX(0) rotate(0deg);
  /* ===== box,flip:hover ===== */
}
.skill .skill-list .skill-wrap .box.active::before {
  opacity: 0.8;
}
.skill .skill-list .skill-wrap .box.active .icon {
  opacity: 1;
}
.skill .skill-list .skill-wrap .box.active:hover::before {
  clip-path: circle(150px at 80% -20%);
}
.skill .skill-list .skill-wrap .box.active:hover .name {
  bottom: 30px;
  opacity: 1;
}
.skill .skill-list .skill-wrap .box.active:hover .icon {
  top: 50%;
  transform: translate3d(-50%, -50%, 50px) rotate(-15deg);
}
.skill .skill-list .skill-wrap .box.html::before {
  background-color: #ff5722;
}
.skill .skill-list .skill-wrap .box.css::before {
  background-color: #0277bd;
}
.skill .skill-list .skill-wrap .box.js::before {
  background-color: #FFCA28;
}
.skill .skill-list .skill-wrap .box.sass::before {
  background-color: #D56EA3;
}
.skill .skill-list .skill-wrap .box.pug::before {
  background-color: #FCD6A0;
}
.skill .skill-list .skill-wrap .box.bootstrap::before {
  background-color: #840AFA;
}
.skill .skill-list .skill-wrap .box.jquery::before {
  background-color: #0268AE;
}
.skill .skill-list .skill-wrap .box.vue::before {
  background-color: #3EAF7C;
}
.skill .skill-list .skill-wrap .box.react::before {
  background-color: #61dafb;
}
.skill .skill-list .skill-wrap .box.redux::before {
  background-color: #764abd;
}
.skill .skill-list .skill-wrap .box.nodejs::before {
  background-color: #90C53F;
}
.skill .skill-list .skill-wrap .box.git::before {
  background-color: #EBE6E1;
}
.skill .skill-list .skill-wrap .box.babel::before {
  background-color: #F1D53D;
}
.skill .skill-list .skill-wrap .box.webpack::before {
  background-color: #33A8F2;
}
.skill .skill-list .skill-wrap .box.jest::before {
  background-color: #99425B;
}
.skill .skill-list .skill-wrap .box.netlify::before {
  background-color: #25c7b7;
}
.skill .skill-list .skill-wrap .box.amazon-s3::before {
  background-color: #f45243;
}
@media screen and (min-width: 768px) {
  .skill .skill-title {
    color: #f0f0f0;
  }
  .skill .skill-list {
    flex-direction: row;
  }
  .skill .skill-list .skill-wrap .box {
    width: 115px;
    height: 220px;
  }
  .skill .skill-list .skill-wrap .box::before {
    clip-path: circle(50px at 80% 20%);
  }
  .skill .skill-list .skill-wrap .box .name {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
  .skill .skill-list .skill-wrap .box .icon {
    max-width: 85px;
  }
  .skill .skill-list .skill-wrap .box:hover .name {
    bottom: 35px;
  }
  .skill .skill-list .skill-wrap .box.flip:hover::before {
    clip-path: circle(175px at 80% -20%);
  }
}
@media screen and (min-width: 1200px) {
  .skill .skill-list .skill-wrap .box {
    width: 150px;
    height: 250px;
  }
  .skill .skill-list .skill-wrap .box::before {
    clip-path: circle(60px at 80% 20%);
  }
  .skill .skill-list .skill-wrap .box .name {
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.01em;
    font-size: 22px;
  }
  .skill .skill-list .skill-wrap .box .icon {
    max-width: 100px;
  }
  .skill .skill-list .skill-wrap .box:hover .name {
    bottom: 40px;
  }
  .skill .skill-list .skill-wrap .box.flip:hover::before {
    clip-path: circle(200px at 80% -20%);
  }
}

.project-card {
  position: relative;
  margin: 50px auto;
  margin-bottom: 0;
  max-width: 300px;
  height: 215px;
  border-radius: 20px;
  background: #232323;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  transition-delay: calc(var(--i) * 0.2s);
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}
.project-card .bg-effect {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  opacity: 0.95;
  background: #232323;
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
}
.project-card .bg-effect.starbucks {
  background: #ffbbc3;
}
.project-card .bg-effect.inv-clone {
  background: #ffcd93;
}
.project-card .bg-effect.tomorrow-house {
  background: #208bd9;
}
.project-card .bg-effect.moviecart {
  background-color: #3EAF7C;
}
.project-card .bg-effect.closca-shop {
  background: #61dafb;
}
.project-card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: margin-top 0.5s ease-in-out, opacity 0.8s ease-in-out;
}
.project-card .content h2 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
  margin-bottom: 15px;
}
.project-card .project-btn-group {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  margin-top: 20px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  align-self: center;
  transition: opacity 0.9s ease-in-out;
}
.project-card .project-btn-group .project-btn {
  position: relative;
  flex-shrink: 0;
  transition: box-shadow 1s ease-in-out, color 1.3s ease-in-out;
  color: #fff;
}
.project-card .project-btn-group .project-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-card .project-btn-group .project-btn:hover {
  box-shadow: inset 0 -3.4em 0 0 #f8f8f8;
  color: #000;
}
.project-card .project-btn-group .project-btn:hover::before {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
.project-card:hover, .project-card:active, .project-card:focus {
  height: 450px;
}
.project-card:hover .bg-effect, .project-card:active .bg-effect, .project-card:focus .bg-effect {
  width: 1500px;
  height: 1500px;
}
.project-card:hover .content, .project-card:active .content, .project-card:focus .content {
  margin-top: 100px;
  visibility: visible;
  opacity: 1;
}
.project-card:hover .project-btn-group, .project-card:active .project-btn-group, .project-card:focus .project-btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  visibility: visible;
}
.project-card:active, .project-card:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.project-card.fade-in {
  transform: translateY(-100px);
  opacity: 1;
}

.toy-project-text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  z-index: 1;
}
.toy-project-text-group .toy-project-title {
  position: relative;
  padding: 0 10px;
  color: #e2e2e2;
  font-size: 2.5em;
  font-weight: 500;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.toy-project-text-group .toy-project-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00155c;
  transform-origin: right;
  /*오른쪽*/
  transition: 0.5s;
  transition-delay: 0;
  /*0초 -> 글자가 작아지기전 먼저 작아저야한다.*/
}
.toy-project-text-group .toy-project-title.active {
  transform: scaleX(1);
  /*크기1*/
  transition-delay: 0s;
  /*0초*/
}
.toy-project-text-group .toy-project-title.active::before {
  transform: scaleX(0);
  transition-delay: 0.5s;
  /*0.5초 -> 글자 가 나타난 뒤에 가림막은 나타나야 한다.*/
}
.toy-project-text-group .toy-project-text {
  display: inline-block;
  margin-top: 5px;
  color: #e2e2e2;
  border-bottom: 3px solid #5e96ff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 44px;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.toy-project-text-group .toy-project-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5e96ff;
  transform-origin: right;
  /*오른쪽*/
  transition: 0.5s;
  transition-delay: 0;
  /*0초 -> 글자가 작아지기전 먼저 작아저야한다.*/
}
.toy-project-text-group .toy-project-text.active {
  transform: scaleX(1);
  /*크기1*/
  transition-delay: 0s;
  /*0초*/
}
.toy-project-text-group .toy-project-text.active::before {
  transform: scaleX(0);
  transition-delay: 0.5s;
  /*0.5초 -> 글자 가 나타난 뒤에 가림막은 나타나야 한다.*/
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: #232323;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  transform: translateX(100px);
  cursor: pointer;
  z-index: 5;
}
.to-top:hover {
  background-color: #5e96ff;
}
.to-top:active, .to-top:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) {
  .to-top {
    bottom: 30px;
    right: 30px;
    width: 38px;
    height: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .to-top {
    width: 42px;
    height: 42px;
  }
}

/*# sourceMappingURL=style.css.map */
