@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gowun Batang", serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  height: 50px;
  border: 2px solid #111;
  border-radius: 5px;
}

.btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  height: 50px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}

.btn-ghost {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10;
  height: 50px;
  background-color: transparent;
}

.starWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.starWrapper .stars1 {
  width: 2px;
  height: 2px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 888px 7546px #FAFAFA , 618px 59px #FAFAFA , 330px 1537px #FAFAFA , 1024px 12px #FAFAFA , 488px 125px #FAFAFA , 221px 1560px #FAFAFA , 524px 208px #FAFAFA , 1893px 289px #FAFAFA , 326px 1435px #FAFAFA , 821px 599px #FAFAFA , 1950px 228px #FAFAFA , 818px 1020px #FAFAFA , 1762px 987px #FAFAFA , 338px 906px #FAFAFA , 707px 1854px #FAFAFA , 1655px 1500px #FAFAFA , 408px 1527px #FAFAFA , 1255px 1241px #FAFAFA , 229px 64px #FAFAFA , 908px 548px #FAFAFA , 483px 35px #FAFAFA , 930px 1744px #FAFAFA , 1086px 286px #FAFAFA , 1158px 655px #FAFAFA , 109px 1464px #FAFAFA , 1036px 589px #FAFAFA , 640px 760px #FAFAFA , 173px 1856px #FAFAFA , 1009px 859px #FAFAFA , 1259px 498px #FAFAFA , 1307px 1856px #FAFAFA , 1147px 1461px #FAFAFA , 632px 237px #FAFAFA , 1033px 1157px #FAFAFA , 572px 1740px #FAFAFA , 1569px 530px #FAFAFA , 1890px 1882px #FAFAFA , 1346px 188px #FAFAFA , 1523px 563px #FAFAFA , 1732px 1156px #FAFAFA , 1212px 1132px #FAFAFA , 140px 373px #FAFAFA , 454px 1341px #FAFAFA , 1683px 1719px #FAFAFA , 1573px 674px #FAFAFA , 375px 1050px #FAFAFA , 344px 1691px #FAFAFA , 1237px 1874px #FAFAFA , 1665px 1361px #FAFAFA , 1691px 1187px #FAFAFA , 793px 1321px #FAFAFA , 1704px 1048px #FAFAFA , 1298px 1820px #FAFAFA , 1127px 510px #FAFAFA , 48px 1366px #FAFAFA , 945px 655px #FAFAFA , 1477px 140px #FAFAFA , 1883px 639px #FAFAFA , 1615px 179px #FAFAFA , 1834px 1618px #FAFAFA , 1413px 1774px #FAFAFA , 47px 634px #FAFAFA , 1621px 1703px #FAFAFA , 1552px 1642px #FAFAFA , 1439px 566px #FAFAFA , 1471px 3px #FAFAFA , 1018px 1863px #FAFAFA , 767px 640px #FAFAFA , 1363px 697px #FAFAFA , 1917px 1978px #FAFAFA , 630px 1378px #FAFAFA , 1732px 680px #FAFAFA , 229px 402px #FAFAFA , 1081px 646px #FAFAFA , 134px 1545px #FAFAFA , 572px 71px #FAFAFA , 1554px 535px #FAFAFA , 1492px 1094px #FAFAFA , 257px 1890px #FAFAFA , 1514px 623px #FAFAFA , 1868px 803px #FAFAFA , 1750px 154px #FAFAFA , 1556px 1624px #FAFAFA , 1773px 869px #FAFAFA , 385px 168px #FAFAFA , 910px 1951px #FAFAFA , 1044px 693px #FAFAFA , 560px 1545px #FAFAFA , 1767px 147px #FAFAFA , 165px 52px #FAFAFA , 1003px 1986px #FAFAFA , 934px 1264px #FAFAFA , 965px 1497px #FAFAFA , 1609px 918px #FAFAFA , 879px 278px #FAFAFA , 1463px 1702px #FAFAFA , 1018px 243px #FAFAFA , 651px 1331px #FAFAFA , 1120px 97px #FAFAFA , 1051px 1019px #FAFAFA , 753px 1397px #FAFAFA , 223px 1827px #FAFAFA , 320px 1537px #FAFAFA , 1631px 1852px #FAFAFA , 878px 109px #FAFAFA , 229px 82px #FAFAFA , 1065px 459px #FAFAFA , 1169px 1172px #FAFAFA , 838px 202px #FAFAFA , 1480px 43px #FAFAFA , 1766px 108px #FAFAFA , 503px 793px #FAFAFA , 1886px 660px #FAFAFA , 1841px 659px #FAFAFA , 1099px 1675px #FAFAFA , 445px 1743px #FAFAFA , 1518px 1857px #FAFAFA , 520px 1439px #FAFAFA , 1387px 92px #FAFAFA , 1789px 1279px #FAFAFA , 535px 437px #FAFAFA , 1295px 267px #FAFAFA , 1810px 813px #FAFAFA , 1435px 1688px #FAFAFA , 426px 1231px #FAFAFA , 285px 980px #FAFAFA , 229px 667px #FAFAFA , 1940px 1540px #FAFAFA , 246px 727px #FAFAFA , 1177px 1623px #FAFAFA , 786px 1840px #FAFAFA , 1092px 1326px #FAFAFA , 854px 781px #FAFAFA , 1266px 1768px #FAFAFA , 1530px 638px #FAFAFA , 1407px 1084px #FAFAFA , 733px 1192px #FAFAFA , 1637px 1229px #FAFAFA , 1409px 1188px #FAFAFA , 1431px 948px #FAFAFA , 1535px 1792px #FAFAFA , 196px 1104px #FAFAFA , 1422px 307px #FAFAFA , 1191px 1823px #FAFAFA , 695px 631px #FAFAFA , 683px 1020px #FAFAFA , 1513px 1570px #FAFAFA , 883px 465px #FAFAFA , 188px 585px #FAFAFA , 1509px 634px #FAFAFA , 1290px 1440px #FAFAFA , 1041px 1554px #FAFAFA , 695px 772px #FAFAFA , 1970px 1614px #FAFAFA , 615px 1346px #FAFAFA , 648px 33px #FAFAFA , 1345px 764px #FAFAFA , 131px 927px #FAFAFA , 381px 1126px #FAFAFA , 1871px 1888px #FAFAFA , 423px 1857px #FAFAFA , 1939px 281px #FAFAFA , 1504px 689px #FAFAFA , 642px 528px #FAFAFA , 1828px 189px #FAFAFA , 578px 425px #FAFAFA , 1628px 400px #FAFAFA , 807px 626px #FAFAFA , 1913px 1647px #FAFAFA , 344px 1868px #FAFAFA , 521px 171px #FAFAFA , 1715px 1911px #FAFAFA , 27px 153px #FAFAFA , 1221px 1923px #FAFAFA , 1306px 249px #FAFAFA , 1321px 1187px #FAFAFA , 1285px 879px #FAFAFA , 516px 1016px #FAFAFA , 391px 290px #FAFAFA , 469px 1882px #FAFAFA , 310px 1757px #FAFAFA , 1741px 960px #FAFAFA , 556px 942px #FAFAFA , 148px 170px #FAFAFA , 1145px 1987px #FAFAFA , 1322px 1371px #FAFAFA , 273px 1050px #FAFAFA , 451px 1427px #FAFAFA , 1626px 1363px #FAFAFA , 1687px 257px #FAFAFA , 974px 277px #FAFAFA , 1700px 345px #FAFAFA , 1873px 1266px #FAFAFA , 46px 594px #FAFAFA , 86px 1943px #FAFAFA , 518px 1783px #FAFAFA , 1188px 1510px #FAFAFA , 706px 1483px #FAFAFA , 1241px 858px #FAFAFA , 1763px 1417px #FAFAFA , 206px 630px #FAFAFA , 821px 648px #FAFAFA , 1942px 1033px #FAFAFA , 1721px 145px #FAFAFA , 173px 307px #FAFAFA , 1648px 228px #FAFAFA , 1222px 1588px #FAFAFA , 1071px 1926px #FAFAFA , 1795px 291px #FAFAFA , 1162px 1248px #FAFAFA , 839px 215px #FAFAFA , 1893px 683px #FAFAFA , 1962px 484px #FAFAFA , 1362px 1051px #FAFAFA , 597px 789px #FAFAFA , 240px 969px #FAFAFA , 651px 1780px #FAFAFA , 1902px 42px #FAFAFA , 1657px 1661px #FAFAFA , 1510px 1894px #FAFAFA , 1344px 896px #FAFAFA , 61px 184px #FAFAFA , 994px 1518px #FAFAFA , 758px 1074px #FAFAFA , 1670px 471px #FAFAFA , 839px 263px #FAFAFA , 1752px 286px #FAFAFA , 1165px 1006px #FAFAFA , 1453px 1735px #FAFAFA , 804px 264px #FAFAFA , 1146px 389px #FAFAFA , 204px 426px #FAFAFA , 1029px 488px #FAFAFA , 1384px 1602px #FAFAFA , 1316px 401px #FAFAFA , 853px 843px #FAFAFA , 578px 259px #FAFAFA , 926px 74px #FAFAFA , 357px 904px #FAFAFA , 10px 1968px #FAFAFA , 1074px 692px #FAFAFA , 1861px 210px #FAFAFA , 714px 181px #FAFAFA , 1556px 1109px #FAFAFA , 1805px 1293px #FAFAFA , 576px 200px #FAFAFA , 1489px 105px #FAFAFA , 696px 974px #FAFAFA , 1770px 515px #FAFAFA , 448px 1162px #FAFAFA , 341px 1914px #FAFAFA , 283px 1196px #FAFAFA , 1172px 123px #FAFAFA , 113px 1839px #FAFAFA , 1400px 423px #FAFAFA , 1340px 915px #FAFAFA , 1609px 1166px #FAFAFA , 1891px 1356px #FAFAFA , 42px 946px #FAFAFA , 1357px 1373px #FAFAFA , 1071px 690px #FAFAFA , 1213px 1765px #FAFAFA , 1528px 131px #FAFAFA , 1378px 1169px #FAFAFA , 343px 963px #FAFAFA , 1141px 1490px #FAFAFA , 903px 1444px #FAFAFA , 1795px 1749px #FAFAFA , 460px 923px #FAFAFA , 986px 642px #FAFAFA , 274px 957px #FAFAFA , 1390px 1742px #FAFAFA , 1518px 32px #FAFAFA , 687px 859px #FAFAFA , 1985px 933px #FAFAFA , 331px 1464px #FAFAFA , 1717px 1851px #FAFAFA , 1681px 1644px #FAFAFA , 1148px 331px #FAFAFA , 1009px 121px #FAFAFA , 1146px 1349px #FAFAFA , 1377px 56px #FAFAFA , 1901px 1951px #FAFAFA , 678px 187px #FAFAFA , 1511px 511px #FAFAFA , 46px 1237px #FAFAFA , 979px 1419px #FAFAFA , 1834px 1509px #FAFAFA , 918px 1240px #FAFAFA , 86px 1912px #FAFAFA , 912px 270px #FAFAFA , 1205px 1617px #FAFAFA , 1630px 390px #FAFAFA , 1253px 875px #FAFAFA , 1980px 646px #FAFAFA , 1398px 574px #FAFAFA , 485px 1868px #FAFAFA , 1635px 1955px #FAFAFA , 157px 878px #FAFAFA , 1302px 1087px #FAFAFA;
  animation: animStar 50s linear infinite;
}
.starWrapper .stars1:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 888px 7546px #FAFAFA , 618px 59px #FAFAFA , 330px 1537px #FAFAFA , 1024px 12px #FAFAFA , 488px 125px #FAFAFA , 221px 1560px #FAFAFA , 524px 208px #FAFAFA , 1893px 289px #FAFAFA , 326px 1435px #FAFAFA , 821px 599px #FAFAFA , 1950px 228px #FAFAFA , 818px 1020px #FAFAFA , 1762px 987px #FAFAFA , 338px 906px #FAFAFA , 707px 1854px #FAFAFA , 1655px 1500px #FAFAFA , 408px 1527px #FAFAFA , 1255px 1241px #FAFAFA , 229px 64px #FAFAFA , 908px 548px #FAFAFA , 483px 35px #FAFAFA , 930px 1744px #FAFAFA , 1086px 286px #FAFAFA , 1158px 655px #FAFAFA , 109px 1464px #FAFAFA , 1036px 589px #FAFAFA , 640px 760px #FAFAFA , 173px 1856px #FAFAFA , 1009px 859px #FAFAFA , 1259px 498px #FAFAFA , 1307px 1856px #FAFAFA , 1147px 1461px #FAFAFA , 632px 237px #FAFAFA , 1033px 1157px #FAFAFA , 572px 1740px #FAFAFA , 1569px 530px #FAFAFA , 1890px 1882px #FAFAFA , 1346px 188px #FAFAFA , 1523px 563px #FAFAFA , 1732px 1156px #FAFAFA , 1212px 1132px #FAFAFA , 140px 373px #FAFAFA , 454px 1341px #FAFAFA , 1683px 1719px #FAFAFA , 1573px 674px #FAFAFA , 375px 1050px #FAFAFA , 344px 1691px #FAFAFA , 1237px 1874px #FAFAFA , 1665px 1361px #FAFAFA , 1691px 1187px #FAFAFA , 793px 1321px #FAFAFA , 1704px 1048px #FAFAFA , 1298px 1820px #FAFAFA , 1127px 510px #FAFAFA , 48px 1366px #FAFAFA , 945px 655px #FAFAFA , 1477px 140px #FAFAFA , 1883px 639px #FAFAFA , 1615px 179px #FAFAFA , 1834px 1618px #FAFAFA , 1413px 1774px #FAFAFA , 47px 634px #FAFAFA , 1621px 1703px #FAFAFA , 1552px 1642px #FAFAFA , 1439px 566px #FAFAFA , 1471px 3px #FAFAFA , 1018px 1863px #FAFAFA , 767px 640px #FAFAFA , 1363px 697px #FAFAFA , 1917px 1978px #FAFAFA , 630px 1378px #FAFAFA , 1732px 680px #FAFAFA , 229px 402px #FAFAFA , 1081px 646px #FAFAFA , 134px 1545px #FAFAFA , 572px 71px #FAFAFA , 1554px 535px #FAFAFA , 1492px 1094px #FAFAFA , 257px 1890px #FAFAFA , 1514px 623px #FAFAFA , 1868px 803px #FAFAFA , 1750px 154px #FAFAFA , 1556px 1624px #FAFAFA , 1773px 869px #FAFAFA , 385px 168px #FAFAFA , 910px 1951px #FAFAFA , 1044px 693px #FAFAFA , 560px 1545px #FAFAFA , 1767px 147px #FAFAFA , 165px 52px #FAFAFA , 1003px 1986px #FAFAFA , 934px 1264px #FAFAFA , 965px 1497px #FAFAFA , 1609px 918px #FAFAFA , 879px 278px #FAFAFA , 1463px 1702px #FAFAFA , 1018px 243px #FAFAFA , 651px 1331px #FAFAFA , 1120px 97px #FAFAFA , 1051px 1019px #FAFAFA , 753px 1397px #FAFAFA , 223px 1827px #FAFAFA , 320px 1537px #FAFAFA , 1631px 1852px #FAFAFA , 878px 109px #FAFAFA , 229px 82px #FAFAFA , 1065px 459px #FAFAFA , 1169px 1172px #FAFAFA , 838px 202px #FAFAFA , 1480px 43px #FAFAFA , 1766px 108px #FAFAFA , 503px 793px #FAFAFA , 1886px 660px #FAFAFA , 1841px 659px #FAFAFA , 1099px 1675px #FAFAFA , 445px 1743px #FAFAFA , 1518px 1857px #FAFAFA , 520px 1439px #FAFAFA , 1387px 92px #FAFAFA , 1789px 1279px #FAFAFA , 535px 437px #FAFAFA , 1295px 267px #FAFAFA , 1810px 813px #FAFAFA , 1435px 1688px #FAFAFA , 426px 1231px #FAFAFA , 285px 980px #FAFAFA , 229px 667px #FAFAFA , 1940px 1540px #FAFAFA , 246px 727px #FAFAFA , 1177px 1623px #FAFAFA , 786px 1840px #FAFAFA , 1092px 1326px #FAFAFA , 854px 781px #FAFAFA , 1266px 1768px #FAFAFA , 1530px 638px #FAFAFA , 1407px 1084px #FAFAFA , 733px 1192px #FAFAFA , 1637px 1229px #FAFAFA , 1409px 1188px #FAFAFA , 1431px 948px #FAFAFA , 1535px 1792px #FAFAFA , 196px 1104px #FAFAFA , 1422px 307px #FAFAFA , 1191px 1823px #FAFAFA , 695px 631px #FAFAFA , 683px 1020px #FAFAFA , 1513px 1570px #FAFAFA , 883px 465px #FAFAFA , 188px 585px #FAFAFA , 1509px 634px #FAFAFA , 1290px 1440px #FAFAFA , 1041px 1554px #FAFAFA , 695px 772px #FAFAFA , 1970px 1614px #FAFAFA , 615px 1346px #FAFAFA , 648px 33px #FAFAFA , 1345px 764px #FAFAFA , 131px 927px #FAFAFA , 381px 1126px #FAFAFA , 1871px 1888px #FAFAFA , 423px 1857px #FAFAFA , 1939px 281px #FAFAFA , 1504px 689px #FAFAFA , 642px 528px #FAFAFA , 1828px 189px #FAFAFA , 578px 425px #FAFAFA , 1628px 400px #FAFAFA , 807px 626px #FAFAFA , 1913px 1647px #FAFAFA , 344px 1868px #FAFAFA , 521px 171px #FAFAFA , 1715px 1911px #FAFAFA , 27px 153px #FAFAFA , 1221px 1923px #FAFAFA , 1306px 249px #FAFAFA , 1321px 1187px #FAFAFA , 1285px 879px #FAFAFA , 516px 1016px #FAFAFA , 391px 290px #FAFAFA , 469px 1882px #FAFAFA , 310px 1757px #FAFAFA , 1741px 960px #FAFAFA , 556px 942px #FAFAFA , 148px 170px #FAFAFA , 1145px 1987px #FAFAFA , 1322px 1371px #FAFAFA , 273px 1050px #FAFAFA , 451px 1427px #FAFAFA , 1626px 1363px #FAFAFA , 1687px 257px #FAFAFA , 974px 277px #FAFAFA , 1700px 345px #FAFAFA , 1873px 1266px #FAFAFA , 46px 594px #FAFAFA , 86px 1943px #FAFAFA , 518px 1783px #FAFAFA , 1188px 1510px #FAFAFA , 706px 1483px #FAFAFA , 1241px 858px #FAFAFA , 1763px 1417px #FAFAFA , 206px 630px #FAFAFA , 821px 648px #FAFAFA , 1942px 1033px #FAFAFA , 1721px 145px #FAFAFA , 173px 307px #FAFAFA , 1648px 228px #FAFAFA , 1222px 1588px #FAFAFA , 1071px 1926px #FAFAFA , 1795px 291px #FAFAFA , 1162px 1248px #FAFAFA , 839px 215px #FAFAFA , 1893px 683px #FAFAFA , 1962px 484px #FAFAFA , 1362px 1051px #FAFAFA , 597px 789px #FAFAFA , 240px 969px #FAFAFA , 651px 1780px #FAFAFA , 1902px 42px #FAFAFA , 1657px 1661px #FAFAFA , 1510px 1894px #FAFAFA , 1344px 896px #FAFAFA , 61px 184px #FAFAFA , 994px 1518px #FAFAFA , 758px 1074px #FAFAFA , 1670px 471px #FAFAFA , 839px 263px #FAFAFA , 1752px 286px #FAFAFA , 1165px 1006px #FAFAFA , 1453px 1735px #FAFAFA , 804px 264px #FAFAFA , 1146px 389px #FAFAFA , 204px 426px #FAFAFA , 1029px 488px #FAFAFA , 1384px 1602px #FAFAFA , 1316px 401px #FAFAFA , 853px 843px #FAFAFA , 578px 259px #FAFAFA , 926px 74px #FAFAFA , 357px 904px #FAFAFA , 10px 1968px #FAFAFA , 1074px 692px #FAFAFA , 1861px 210px #FAFAFA , 714px 181px #FAFAFA , 1556px 1109px #FAFAFA , 1805px 1293px #FAFAFA , 576px 200px #FAFAFA , 1489px 105px #FAFAFA , 696px 974px #FAFAFA , 1770px 515px #FAFAFA , 448px 1162px #FAFAFA , 341px 1914px #FAFAFA , 283px 1196px #FAFAFA , 1172px 123px #FAFAFA , 113px 1839px #FAFAFA , 1400px 423px #FAFAFA , 1340px 915px #FAFAFA , 1609px 1166px #FAFAFA , 1891px 1356px #FAFAFA , 42px 946px #FAFAFA , 1357px 1373px #FAFAFA , 1071px 690px #FAFAFA , 1213px 1765px #FAFAFA , 1528px 131px #FAFAFA , 1378px 1169px #FAFAFA , 343px 963px #FAFAFA , 1141px 1490px #FAFAFA , 903px 1444px #FAFAFA , 1795px 1749px #FAFAFA , 460px 923px #FAFAFA , 986px 642px #FAFAFA , 274px 957px #FAFAFA , 1390px 1742px #FAFAFA , 1518px 32px #FAFAFA , 687px 859px #FAFAFA , 1985px 933px #FAFAFA , 331px 1464px #FAFAFA , 1717px 1851px #FAFAFA , 1681px 1644px #FAFAFA , 1148px 331px #FAFAFA , 1009px 121px #FAFAFA , 1146px 1349px #FAFAFA , 1377px 56px #FAFAFA , 1901px 1951px #FAFAFA , 678px 187px #FAFAFA , 1511px 511px #FAFAFA , 46px 1237px #FAFAFA , 979px 1419px #FAFAFA , 1834px 1509px #FAFAFA , 918px 1240px #FAFAFA , 86px 1912px #FAFAFA , 912px 270px #FAFAFA , 1205px 1617px #FAFAFA , 1630px 390px #FAFAFA , 1253px 875px #FAFAFA , 1980px 646px #FAFAFA , 1398px 574px #FAFAFA , 485px 1868px #FAFAFA , 1635px 1955px #FAFAFA , 157px 878px #FAFAFA , 1302px 1087px #FAFAFA;
}
.starWrapper .stars2 {
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 502px 13896px #FAFAFA , 917px 1814px #FAFAFA , 514px 565px #FAFAFA , 102px 899px #FAFAFA , 38px 1051px #FAFAFA , 182px 576px #FAFAFA , 1616px 582px #FAFAFA , 744px 1635px #FAFAFA , 1860px 1614px #FAFAFA , 544px 1309px #FAFAFA , 816px 1621px #FAFAFA , 1292px 753px #FAFAFA , 1366px 1500px #FAFAFA , 1336px 807px #FAFAFA , 32px 616px #FAFAFA , 569px 17px #FAFAFA , 453px 1749px #FAFAFA , 251px 416px #FAFAFA , 442px 363px #FAFAFA , 593px 748px #FAFAFA , 1498px 838px #FAFAFA , 1269px 1128px #FAFAFA , 166px 1465px #FAFAFA , 1794px 1222px #FAFAFA , 1697px 56px #FAFAFA , 1322px 1955px #FAFAFA , 924px 1288px #FAFAFA , 1766px 1176px #FAFAFA , 251px 1498px #FAFAFA , 469px 636px #FAFAFA , 1473px 1805px #FAFAFA , 1265px 1787px #FAFAFA , 1574px 1965px #FAFAFA , 1171px 996px #FAFAFA , 22px 330px #FAFAFA , 1327px 700px #FAFAFA , 1114px 629px #FAFAFA , 1961px 775px #FAFAFA , 1189px 1619px #FAFAFA , 333px 1171px #FAFAFA , 1742px 1343px #FAFAFA , 185px 1642px #FAFAFA , 1812px 1905px #FAFAFA , 1091px 47px #FAFAFA , 699px 1549px #FAFAFA , 1798px 554px #FAFAFA , 1353px 758px #FAFAFA , 1971px 1930px #FAFAFA , 548px 728px #FAFAFA , 1111px 1170px #FAFAFA , 1903px 728px #FAFAFA , 1688px 1875px #FAFAFA , 657px 1170px #FAFAFA , 6px 1636px #FAFAFA , 313px 1398px #FAFAFA , 339px 1646px #FAFAFA , 456px 402px #FAFAFA , 371px 448px #FAFAFA , 430px 256px #FAFAFA , 1262px 797px #FAFAFA , 1741px 167px #FAFAFA , 215px 837px #FAFAFA , 351px 1367px #FAFAFA , 174px 53px #FAFAFA , 435px 1602px #FAFAFA , 215px 1700px #FAFAFA , 954px 1596px #FAFAFA , 1200px 1934px #FAFAFA , 1677px 479px #FAFAFA , 488px 772px #FAFAFA , 48px 1849px #FAFAFA , 490px 1440px #FAFAFA , 1293px 467px #FAFAFA , 1296px 680px #FAFAFA , 294px 1082px #FAFAFA , 502px 491px #FAFAFA , 219px 619px #FAFAFA , 1785px 1252px #FAFAFA , 1490px 1363px #FAFAFA , 438px 1757px #FAFAFA , 149px 1967px #FAFAFA , 487px 1554px #FAFAFA , 1537px 1364px #FAFAFA , 384px 1433px #FAFAFA , 926px 1368px #FAFAFA , 1592px 1382px #FAFAFA , 1795px 590px #FAFAFA , 345px 1508px #FAFAFA , 912px 530px #FAFAFA , 1165px 151px #FAFAFA , 1518px 441px #FAFAFA , 1062px 1992px #FAFAFA , 1763px 866px #FAFAFA , 626px 728px #FAFAFA , 1687px 328px #FAFAFA , 787px 1324px #FAFAFA , 1974px 401px #FAFAFA , 1893px 1387px #FAFAFA , 168px 313px #FAFAFA , 19px 408px #FAFAFA , 201px 367px #FAFAFA , 1179px 558px #FAFAFA , 1739px 1241px #FAFAFA , 846px 1194px #FAFAFA , 758px 529px #FAFAFA , 218px 1156px #FAFAFA , 1326px 1577px #FAFAFA , 1929px 814px #FAFAFA , 1073px 695px #FAFAFA , 1120px 1308px #FAFAFA , 1528px 688px #FAFAFA , 1091px 870px #FAFAFA , 1351px 1562px #FAFAFA , 1353px 1649px #FAFAFA , 1890px 853px #FAFAFA , 1353px 936px #FAFAFA , 74px 1030px #FAFAFA , 1167px 1410px #FAFAFA , 155px 220px #FAFAFA , 1114px 1026px #FAFAFA , 1213px 727px #FAFAFA , 394px 1451px #FAFAFA , 1478px 665px #FAFAFA , 830px 846px #FAFAFA , 619px 1774px #FAFAFA , 226px 1853px #FAFAFA , 1583px 994px #FAFAFA , 1929px 1470px #FAFAFA , 33px 1841px #FAFAFA , 269px 509px #FAFAFA , 1434px 1728px #FAFAFA , 67px 421px #FAFAFA , 1277px 458px #FAFAFA , 1488px 897px #FAFAFA , 614px 1432px #FAFAFA , 1316px 682px #FAFAFA , 695px 1953px #FAFAFA , 1687px 707px #FAFAFA , 1138px 1513px #FAFAFA , 1390px 1586px #FAFAFA , 1879px 1567px #FAFAFA , 1526px 117px #FAFAFA , 1453px 696px #FAFAFA , 1383px 141px #FAFAFA , 202px 487px #FAFAFA , 196px 31px #FAFAFA , 1250px 654px #FAFAFA , 1381px 920px #FAFAFA , 1826px 1484px #FAFAFA , 800px 1464px #FAFAFA , 1358px 79px #FAFAFA , 1166px 493px #FAFAFA , 1621px 715px #FAFAFA , 1449px 1882px #FAFAFA , 154px 434px #FAFAFA , 881px 1601px #FAFAFA , 823px 1290px #FAFAFA , 154px 1746px #FAFAFA , 730px 1460px #FAFAFA , 69px 1636px #FAFAFA , 416px 1436px #FAFAFA , 497px 366px #FAFAFA , 1271px 1569px #FAFAFA , 1288px 1197px #FAFAFA , 1157px 1334px #FAFAFA , 342px 1263px #FAFAFA , 1489px 1529px #FAFAFA , 1267px 431px #FAFAFA , 168px 142px #FAFAFA , 1897px 1367px #FAFAFA , 360px 411px #FAFAFA , 1444px 181px #FAFAFA , 1914px 465px #FAFAFA , 1135px 138px #FAFAFA , 715px 1808px #FAFAFA , 1887px 843px #FAFAFA , 276px 1517px #FAFAFA , 1755px 474px #FAFAFA , 878px 381px #FAFAFA , 579px 843px #FAFAFA , 643px 717px #FAFAFA , 1809px 1721px #FAFAFA , 506px 1635px #FAFAFA , 210px 1897px #FAFAFA , 658px 668px #FAFAFA , 1137px 1401px #FAFAFA , 305px 1820px #FAFAFA , 1324px 437px #FAFAFA , 510px 609px #FAFAFA , 637px 858px #FAFAFA , 1084px 1348px #FAFAFA , 1201px 1333px #FAFAFA , 304px 688px #FAFAFA , 436px 1984px #FAFAFA , 661px 947px #FAFAFA , 222px 647px #FAFAFA , 1575px 1090px #FAFAFA , 1792px 1044px #FAFAFA , 1605px 1792px #FAFAFA , 602px 1487px #FAFAFA;
  animation: animStar 100s linear infinite;
}
.starWrapper .stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 502px 13896px #FAFAFA , 917px 1814px #FAFAFA , 514px 565px #FAFAFA , 102px 899px #FAFAFA , 38px 1051px #FAFAFA , 182px 576px #FAFAFA , 1616px 582px #FAFAFA , 744px 1635px #FAFAFA , 1860px 1614px #FAFAFA , 544px 1309px #FAFAFA , 816px 1621px #FAFAFA , 1292px 753px #FAFAFA , 1366px 1500px #FAFAFA , 1336px 807px #FAFAFA , 32px 616px #FAFAFA , 569px 17px #FAFAFA , 453px 1749px #FAFAFA , 251px 416px #FAFAFA , 442px 363px #FAFAFA , 593px 748px #FAFAFA , 1498px 838px #FAFAFA , 1269px 1128px #FAFAFA , 166px 1465px #FAFAFA , 1794px 1222px #FAFAFA , 1697px 56px #FAFAFA , 1322px 1955px #FAFAFA , 924px 1288px #FAFAFA , 1766px 1176px #FAFAFA , 251px 1498px #FAFAFA , 469px 636px #FAFAFA , 1473px 1805px #FAFAFA , 1265px 1787px #FAFAFA , 1574px 1965px #FAFAFA , 1171px 996px #FAFAFA , 22px 330px #FAFAFA , 1327px 700px #FAFAFA , 1114px 629px #FAFAFA , 1961px 775px #FAFAFA , 1189px 1619px #FAFAFA , 333px 1171px #FAFAFA , 1742px 1343px #FAFAFA , 185px 1642px #FAFAFA , 1812px 1905px #FAFAFA , 1091px 47px #FAFAFA , 699px 1549px #FAFAFA , 1798px 554px #FAFAFA , 1353px 758px #FAFAFA , 1971px 1930px #FAFAFA , 548px 728px #FAFAFA , 1111px 1170px #FAFAFA , 1903px 728px #FAFAFA , 1688px 1875px #FAFAFA , 657px 1170px #FAFAFA , 6px 1636px #FAFAFA , 313px 1398px #FAFAFA , 339px 1646px #FAFAFA , 456px 402px #FAFAFA , 371px 448px #FAFAFA , 430px 256px #FAFAFA , 1262px 797px #FAFAFA , 1741px 167px #FAFAFA , 215px 837px #FAFAFA , 351px 1367px #FAFAFA , 174px 53px #FAFAFA , 435px 1602px #FAFAFA , 215px 1700px #FAFAFA , 954px 1596px #FAFAFA , 1200px 1934px #FAFAFA , 1677px 479px #FAFAFA , 488px 772px #FAFAFA , 48px 1849px #FAFAFA , 490px 1440px #FAFAFA , 1293px 467px #FAFAFA , 1296px 680px #FAFAFA , 294px 1082px #FAFAFA , 502px 491px #FAFAFA , 219px 619px #FAFAFA , 1785px 1252px #FAFAFA , 1490px 1363px #FAFAFA , 438px 1757px #FAFAFA , 149px 1967px #FAFAFA , 487px 1554px #FAFAFA , 1537px 1364px #FAFAFA , 384px 1433px #FAFAFA , 926px 1368px #FAFAFA , 1592px 1382px #FAFAFA , 1795px 590px #FAFAFA , 345px 1508px #FAFAFA , 912px 530px #FAFAFA , 1165px 151px #FAFAFA , 1518px 441px #FAFAFA , 1062px 1992px #FAFAFA , 1763px 866px #FAFAFA , 626px 728px #FAFAFA , 1687px 328px #FAFAFA , 787px 1324px #FAFAFA , 1974px 401px #FAFAFA , 1893px 1387px #FAFAFA , 168px 313px #FAFAFA , 19px 408px #FAFAFA , 201px 367px #FAFAFA , 1179px 558px #FAFAFA , 1739px 1241px #FAFAFA , 846px 1194px #FAFAFA , 758px 529px #FAFAFA , 218px 1156px #FAFAFA , 1326px 1577px #FAFAFA , 1929px 814px #FAFAFA , 1073px 695px #FAFAFA , 1120px 1308px #FAFAFA , 1528px 688px #FAFAFA , 1091px 870px #FAFAFA , 1351px 1562px #FAFAFA , 1353px 1649px #FAFAFA , 1890px 853px #FAFAFA , 1353px 936px #FAFAFA , 74px 1030px #FAFAFA , 1167px 1410px #FAFAFA , 155px 220px #FAFAFA , 1114px 1026px #FAFAFA , 1213px 727px #FAFAFA , 394px 1451px #FAFAFA , 1478px 665px #FAFAFA , 830px 846px #FAFAFA , 619px 1774px #FAFAFA , 226px 1853px #FAFAFA , 1583px 994px #FAFAFA , 1929px 1470px #FAFAFA , 33px 1841px #FAFAFA , 269px 509px #FAFAFA , 1434px 1728px #FAFAFA , 67px 421px #FAFAFA , 1277px 458px #FAFAFA , 1488px 897px #FAFAFA , 614px 1432px #FAFAFA , 1316px 682px #FAFAFA , 695px 1953px #FAFAFA , 1687px 707px #FAFAFA , 1138px 1513px #FAFAFA , 1390px 1586px #FAFAFA , 1879px 1567px #FAFAFA , 1526px 117px #FAFAFA , 1453px 696px #FAFAFA , 1383px 141px #FAFAFA , 202px 487px #FAFAFA , 196px 31px #FAFAFA , 1250px 654px #FAFAFA , 1381px 920px #FAFAFA , 1826px 1484px #FAFAFA , 800px 1464px #FAFAFA , 1358px 79px #FAFAFA , 1166px 493px #FAFAFA , 1621px 715px #FAFAFA , 1449px 1882px #FAFAFA , 154px 434px #FAFAFA , 881px 1601px #FAFAFA , 823px 1290px #FAFAFA , 154px 1746px #FAFAFA , 730px 1460px #FAFAFA , 69px 1636px #FAFAFA , 416px 1436px #FAFAFA , 497px 366px #FAFAFA , 1271px 1569px #FAFAFA , 1288px 1197px #FAFAFA , 1157px 1334px #FAFAFA , 342px 1263px #FAFAFA , 1489px 1529px #FAFAFA , 1267px 431px #FAFAFA , 168px 142px #FAFAFA , 1897px 1367px #FAFAFA , 360px 411px #FAFAFA , 1444px 181px #FAFAFA , 1914px 465px #FAFAFA , 1135px 138px #FAFAFA , 715px 1808px #FAFAFA , 1887px 843px #FAFAFA , 276px 1517px #FAFAFA , 1755px 474px #FAFAFA , 878px 381px #FAFAFA , 579px 843px #FAFAFA , 643px 717px #FAFAFA , 1809px 1721px #FAFAFA , 506px 1635px #FAFAFA , 210px 1897px #FAFAFA , 658px 668px #FAFAFA , 1137px 1401px #FAFAFA , 305px 1820px #FAFAFA , 1324px 437px #FAFAFA , 510px 609px #FAFAFA , 637px 858px #FAFAFA , 1084px 1348px #FAFAFA , 1201px 1333px #FAFAFA , 304px 688px #FAFAFA , 436px 1984px #FAFAFA , 661px 947px #FAFAFA , 222px 647px #FAFAFA , 1575px 1090px #FAFAFA , 1792px 1044px #FAFAFA , 1605px 1792px #FAFAFA , 602px 1487px #FAFAFA;
}
@keyframes animStar {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2000px);
  }
}

/*
재사용성 & 유지보수 높은 그리드 시스템 설계

* MOBILE (<768px) -------------------------------------------
* fixture : sm
* columns : 4
* units : 25% - 22.5px  => (100% - (5px * 2))/4 - 20px
* gutter : 20px
* margin : 5px
* container-size : 100% - (5px * 2)

* TABLET (>= 768px) -------------------------------------------
* fixture : md
* columns : 12
* units : 8.333333333333333% - 25px =>  (100% - (30px * 2))/12 - 20px 
* gutter : 20px
* margin : 30px
* container-size : 100% - (30px * 2) 
* max-container-size : 960px

* DESKTOP (>= 1200px) -------------------------------------------
* fixture : lg
* columns : 12
* units : 75px => 1140px/12 - 20px
* gutter : 20px
* margin : auto
* container-size : 1140px
* max-container-size : 1140px

container-size는 그리드시스템이 적용되는 범위
*/
.container {
  /*[ =========== MOBILE ========== ]*/
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
  /*[ =========== TABLET ========== ]*/
  /*[ =========== DESKTOP ========== ]*/
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  transition: all 1s ease-in-out;
}
.container [class^=col-] {
  padding: 0 10px;
}
.container .col-sm-1 {
  width: 25%;
}
.container .col-sm-2 {
  width: 50%;
}
.container .col-sm-3 {
  width: 75%;
}
.container .col-sm-4 {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1020px;
    padding: 0 30px;
  }
  .container .col-md-1 {
    width: 8.3333333333%;
  }
  .container .col-md-2 {
    width: 16.6666666667%;
  }
  .container .col-md-3 {
    width: 25%;
  }
  .container .col-md-4 {
    width: 33.3333333333%;
  }
  .container .col-md-5 {
    width: 41.6666666667%;
  }
  .container .col-md-6 {
    width: 50%;
  }
  .container .col-md-7 {
    width: 58.3333333333%;
  }
  .container .col-md-8 {
    width: 66.6666666667%;
  }
  .container .col-md-9 {
    width: 75%;
  }
  .container .col-md-10 {
    width: 83.3333333333%;
  }
  .container .col-md-11 {
    width: 91.6666666667%;
  }
  .container .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
  }
  .container .col-lg-1 {
    width: 95px;
  }
  .container .col-lg-2 {
    width: 190px;
  }
  .container .col-lg-3 {
    width: 285px;
  }
  .container .col-lg-4 {
    width: 380px;
  }
  .container .col-lg-5 {
    width: 475px;
  }
  .container .col-lg-6 {
    width: 570px;
  }
  .container .col-lg-7 {
    width: 665px;
  }
  .container .col-lg-8 {
    width: 760px;
  }
  .container .col-lg-9 {
    width: 855px;
  }
  .container .col-lg-10 {
    width: 950px;
  }
  .container .col-lg-11 {
    width: 1045px;
  }
  .container .col-lg-12 {
    width: 1140px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: transparent;
  font-family: "Satisfy", cursive;
  z-index: 10;
}
.header-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  left: 15px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.header-title a {
  color: #fff;
}
.header-title:active, .header-title:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.header-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  left: 30px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.7s ease-in-out;
  background-color: transparent;
  border-color: #fff;
}
.header-button a {
  color: #fff;
}
.header-button:active, .header-button:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) {
  .header-title {
    opacity: 1;
  }
  .header-button {
    height: 45px;
    opacity: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
  .header-button {
    height: 50px;
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #00155c;
}
.title-section .title {
  font-family: "Prata", serif;
  margin-bottom: -230px;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 80px;
  transform: translateY(100px);
  transition: all 1s;
  z-index: 1;
}
.title-section .title span {
  opacity: 0;
  filter: blur(50px);
  transition: all 1.5s;
  transition-delay: calc(var(--i) * 0.1s);
}
.title-section .title.active {
  transform: translateY(0);
}
.title-section .title.active span {
  opacity: 1;
  filter: blur(0);
}
.title-section p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -150px;
  font-family: "Prata", serif;
  font-size: 250px;
  color: #009bfc;
}
@media screen and (min-width: 768px) {
  .title-section .title {
    font-size: 90px;
    line-height: 110px;
  }
  .title-section p {
    bottom: -150px;
    font-size: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .title-section .title {
    font-size: 100px;
    line-height: 150px;
  }
  .title-section p {
    bottom: -200px;
    font-size: 350px;
  }
}

.profile-section {
  position: relative;
  height: 1800px;
  width: 100%;
  background-color: #FAFAFA;
  z-index: 2;
}
.profile-section .about-title {
  position: absolute;
  right: 25px;
  top: 400px;
  text-align: end;
  font-size: 4.86111vw;
  font-weight: 500;
  line-height: 70px;
  color: transparent;
  -webkit-text-stroke: 1px #c1c1c1;
}
.profile-section .about-title span {
  text-decoration: underline;
}
.profile-section .about-title .change-color {
  color: #00155c;
  -webkit-text-stroke: 1px #00155c;
}
.profile-section .about-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  position: absolute;
  top: 800px;
  left: 10px;
  padding: 15px;
  color: #272418;
}
.profile-section .about-text .text {
  transition: all 0.5s ease-in-out;
  transform: translateX(-100px);
  opacity: 0;
}
.profile-section .about-text .text.fade-in {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .profile-section .about-title {
    font-size: 3.5vw;
  }
  .profile-section .about-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .profile-section {
    height: 1600px;
  }
  .profile-section .about-title {
    right: 50px;
    line-height: 100px;
  }
  .profile-section .about-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
    left: 65px;
    font-weight: 600;
  }
}

.tech-section {
  position: relative;
  padding: 250px 0 250px;
  font-family: "Dongle", sans-serif;
  background: #fff;
}
.tech-section .tech-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
  overflow: hidden;
}
.tech-section .tech-skill .skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
}
.tech-section .tech-skill .skill:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .tech-section .tech-skill .skill {
    margin-bottom: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .tech-section .tech-skill .skill {
    margin-bottom: 450px;
  }
}

.toy-project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 200px 0 200px;
  width: 100%;
  background-color: #FAFAFA;
}
.toy-project-section .imgBx {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 130px;
  left: 50%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: beige;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  transition-delay: calc(var(--i) * 0.2s);
  transform: translateX(-50%);
  opacity: 0;
  z-index: 3;
}
.toy-project-section .imgBx img {
  width: 100%;
  border-radius: 50%;
}
.toy-project-section .imgBx.fade-in {
  transform: translateX(-50%) translateY(-100px);
  opacity: 1;
}
.toy-project-section .imgBx.tomorrow-house {
  background-color: #208bd9;
}
.toy-project-section .imgBx.starbucks {
  background-color: #D59F9F;
}
.toy-project-section .imgBx.moviecart {
  background-color: #3EAF7C;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  background: #383838;
}
.footer .footer-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  margin-bottom: 80px;
  padding: 10px;
  color: #e2e2e2;
  font-weight: 300;
  border-bottom: 3px solid #5e96ff;
}
.footer .mail {
  margin-bottom: 50px;
  color: #e2e2e2;
  font-family: "Montserrat", sans-serif;
  font-size: 6vw;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.footer .mail:hover {
  color: #5e96ff;
  transform: scale(0.9);
}
.footer .mail:active, .footer .mail:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.footer .footer-tag {
  height: 60px;
  background: linear-gradient(135deg, #6e8efb, #5e96ff);
  border: transparent;
  transform-style: preserve-3d;
}
.footer .footer-tag p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  transform: translate3d(0, 0, 15px);
  transform-style: preserve-3d;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer .footer-title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
  .footer .mail {
    font-size: 50px;
  }
  .footer .footer-tag p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-title {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.01em;
    font-size: 20px;
  }
  .footer .mail {
    font-size: 65px;
  }
  .footer .footer-tag p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}

.header-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
}
.header-menu #horizontal-underline {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #5e96ff;
  transition: all 0.3s ease-in-out;
}
.header-menu-list {
  position: relative;
  width: 80px;
  transition: all 0.7s ease-in-out;
}
.header-menu-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  width: 100%;
  height: 100%;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.header-menu-list a:active, .header-menu-list a:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.header-menu-list::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 2px;
  height: 12px;
  left: 0;
  background-color: #7e7678;
}
.header-menu-list:first-child::before {
  display: none;
}
.header-menu-list:active, .header-menu-list:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) {
  .header-menu-list {
    width: 85px;
  }
  .header-menu-list a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}
@media screen and (min-width: 1200px) {
  .header-menu {
    right: 30px;
  }
  .header-menu-list {
    width: 100px;
  }
  .header-menu-list a {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.02em;
  }
}

.profile {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  opacity: 0;
  transform: translate3d(-50%, 100px, 0);
  transition: 1s ease-in-out;
}
.profile .profile-photo {
  position: relative;
  height: 300px;
  width: 300px;
  background-image: url(/asset/img/profile-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.profile .profile-photo::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  display: block;
  height: 300px;
  width: 300px;
  border: 2px solid #ffd755;
  transform: translate3d(20px, 20px, 0);
  transition: 0.8s ease-in-out;
  transition-delay: 0.3s;
}
.profile .profile-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile .profile-info h1 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
  margin-right: 10px;
}
.profile .profile-info p {
  color: #7e7678;
}
.profile.active {
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}
.profile.active .profile-photo::after {
  transform: translate3d(0, 0, 0);
}
@media screen and (min-width: 768px) {
  .profile {
    left: 25px;
    transform: translate3d(0, 100px, 0);
  }
  .profile .profile-photo {
    height: 320px;
    width: 320px;
  }
  .profile .profile-photo::after {
    height: 320px;
    width: 320px;
  }
  .profile.active {
    transform: translate3d(0, 0, 0);
  }
}
@media screen and (min-width: 1200px) {
  .profile {
    left: 80px;
  }
  .profile .profile-photo {
    height: 350px;
    width: 350px;
  }
  .profile .profile-photo::after {
    height: 350px;
    width: 350px;
  }
  .profile .profile-info h1 {
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.01em;
  }
}

.skill {
  /* ==================== [Tablet]  ==================== */
  /* ==================== [Desk top]  ==================== */
}
.skill .skill-title {
  font-size: 30px;
  line-height: 44px;
  letter-spacing: -0.01em;
  font-size: 35px;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 3px solid #5e96ff;
}
.skill .skill-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 850px;
  transition: all 1s ease-in-out;
}
.skill .skill-list .skill-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* ==================== [card box design]  ==================== */
  /* ==================== [skill-wrap left || right]  ==================== */
  /* ==================== [card box flip animation]  ==================== */
  /* ============================= [card Icon design]  ============================= */
}
.skill .skill-list .skill-wrap .box {
  position: relative;
  margin: 10px;
  width: 20%;
  max-width: 150px;
  min-width: 100px;
  height: 180px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  transition-delay: calc(var(--i) * 0.1s);
  cursor: pointer;
  /* ===== circle content ===== */
  /* ===== skill text content ===== */
  /* ===== icon name ===== */
  /* ===== icon ===== */
}
.skill .skill-list .skill-wrap .box::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9bdc28;
  clip-path: circle(40px at 80% 20%);
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.skill .skill-list .skill-wrap .box::after {
  content: "skill";
  position: absolute;
  bottom: 10px;
  right: 5px;
  color: #fff;
  font-size: 5em;
  font-weight: 900;
  font-style: italic;
  transform: rotate(331deg);
  transition: 0.5s;
  opacity: 0.04;
}
.skill .skill-list .skill-wrap .box .name {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 20px);
  transition: 0.5s;
  opacity: 0;
}
.skill .skill-list .skill-wrap .box .icon {
  z-index: 11;
  position: absolute;
  top: 60%;
  left: 50%;
  max-width: 70px;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.skill .skill-list .skill-wrap .box:active, .skill .skill-list .skill-wrap .box:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.skill .skill-list .skill-wrap.left .box {
  transform: translateX(-1000px) rotate(-720deg);
}
.skill .skill-list .skill-wrap.right .box {
  transform: translateX(1000px) rotate(720deg);
}
.skill .skill-list .skill-wrap .box.active {
  transform: translateX(0) rotate(0deg);
  /* ===== box,flip:hover ===== */
}
.skill .skill-list .skill-wrap .box.active::before {
  opacity: 0.8;
}
.skill .skill-list .skill-wrap .box.active .icon {
  opacity: 1;
}
.skill .skill-list .skill-wrap .box.active:hover::before {
  clip-path: circle(150px at 80% -20%);
}
.skill .skill-list .skill-wrap .box.active:hover .name {
  bottom: 30px;
  opacity: 1;
}
.skill .skill-list .skill-wrap .box.active:hover .icon {
  top: 50%;
  transform: translate3d(-50%, -50%, 50px) rotate(-15deg);
}
.skill .skill-list .skill-wrap .box.html::before {
  background-color: #ff5722;
}
.skill .skill-list .skill-wrap .box.css::before {
  background-color: #0277bd;
}
.skill .skill-list .skill-wrap .box.js::before {
  background-color: #FFCA28;
}
.skill .skill-list .skill-wrap .box.ts::before {
  background-color: #317AC7;
}
.skill .skill-list .skill-wrap .box.sass::before {
  background-color: #D56EA3;
}
.skill .skill-list .skill-wrap .box.bootstrap::before {
  background-color: #840AFA;
}
.skill .skill-list .skill-wrap .box.jquery::before {
  background-color: #0268AE;
}
.skill .skill-list .skill-wrap .box.vue::before {
  background-color: #3EAF7C;
}
.skill .skill-list .skill-wrap .box.pug::before {
  background-color: #FCD6A0;
}
.skill .skill-list .skill-wrap .box.nodejs::before {
  background-color: #90C53F;
}
.skill .skill-list .skill-wrap .box.socketio::before {
  background-color: #020202;
}
.skill .skill-list .skill-wrap .box.webrtc::before {
  background-color: #0089CC;
}
.skill .skill-list .skill-wrap .box.vscode::before {
  background-color: #33A8F2;
}
.skill .skill-list .skill-wrap .box.git::before {
  background-color: #EBE6E1;
}
.skill .skill-list .skill-wrap .box.babel::before {
  background-color: #F1D53D;
}
.skill .skill-list .skill-wrap .box.webpack::before {
  background-color: #33A8F2;
}
.skill .skill-list .skill-wrap .box.jest::before {
  background-color: #99425B;
}
@media screen and (min-width: 768px) {
  .skill .skill-list {
    flex-direction: row;
  }
  .skill .skill-list .skill-wrap .box {
    width: 115px;
    height: 220px;
  }
  .skill .skill-list .skill-wrap .box::before {
    clip-path: circle(50px at 80% 20%);
  }
  .skill .skill-list .skill-wrap .box .name {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.01em;
  }
  .skill .skill-list .skill-wrap .box .icon {
    max-width: 85px;
  }
  .skill .skill-list .skill-wrap .box:hover .name {
    bottom: 35px;
  }
  .skill .skill-list .skill-wrap .box.flip:hover::before {
    clip-path: circle(175px at 80% -20%);
  }
}
@media screen and (min-width: 1200px) {
  .skill .skill-list .skill-wrap .box {
    width: 150px;
    height: 250px;
  }
  .skill .skill-list .skill-wrap .box::before {
    clip-path: circle(60px at 80% 20%);
  }
  .skill .skill-list .skill-wrap .box .name {
    font-size: 30px;
    line-height: 44px;
    letter-spacing: -0.01em;
  }
  .skill .skill-list .skill-wrap .box .icon {
    max-width: 100px;
  }
  .skill .skill-list .skill-wrap .box:hover .name {
    bottom: 40px;
  }
  .skill .skill-list .skill-wrap .box.flip:hover::before {
    clip-path: circle(200px at 80% -20%);
  }
}

.project-card {
  position: relative;
  margin: 50px auto;
  max-width: 300px;
  height: 215px;
  border-radius: 20px;
  background: #232323;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  transition-delay: calc(var(--i) * 0.2s);
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}
.project-card .bg-effect {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  opacity: 0.95;
  background: #232323;
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
  z-index: 1;
}
.project-card .bg-effect.tomorrow-house {
  background: #208bd9;
}
.project-card .bg-effect.starbucks {
  background: #ffbbc3;
}
.project-card .bg-effect.moviecart {
  background-color: #3EAF7C;
}
.project-card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: margin-top 0.5s ease-in-out, opacity 0.8s ease-in-out;
  z-index: 1;
}
.project-card .content h2 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
  margin-bottom: 15px;
}
.project-card .project-btn-group {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  margin-top: 20px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  align-self: center;
  transition: opacity 0.9s ease-in-out;
  z-index: 1;
}
.project-card .project-btn-group .project-btn {
  position: relative;
  flex-shrink: 0;
  transition: box-shadow 1s ease-in-out;
}
.project-card .project-btn-group .project-btn a {
  color: #fff;
  transition: color 1.3s ease-in-out;
}
.project-card .project-btn-group .project-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-card .project-btn-group .project-btn:hover {
  box-shadow: inset 0 -3.4em 0 0 #f8f8f8;
}
.project-card .project-btn-group .project-btn:hover a {
  color: #000;
}
.project-card .project-btn-group .project-btn:hover::before {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
.project-card:hover, .project-card:active, .project-card:focus {
  height: 420px;
}
.project-card:hover .bg-effect, .project-card:active .bg-effect, .project-card:focus .bg-effect {
  width: 1500px;
  height: 1500px;
}
.project-card:hover .content, .project-card:active .content, .project-card:focus .content {
  margin-top: 100px;
  visibility: visible;
  opacity: 1;
}
.project-card:hover .project-btn-group, .project-card:active .project-btn-group, .project-card:focus .project-btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  visibility: visible;
}
.project-card:active, .project-card:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
.project-card.fade-in {
  transform: translateY(-100px);
  opacity: 1;
}

.toy-project-text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.toy-project-text-group .toy-project-title {
  position: relative;
  padding: 0 10px;
  color: #e2e2e2;
  font-size: 2.5em;
  font-weight: 500;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.toy-project-text-group .toy-project-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00155c;
  transform-origin: right;
  /*오른쪽*/
  transition: 0.5s;
  transition-delay: 0;
  /*0초 -> 글자가 작아지기전 먼저 작아저야한다.*/
}
.toy-project-text-group .toy-project-title.active {
  transform: scaleX(1);
  /*크기1*/
  transition-delay: 0s;
  /*0초*/
}
.toy-project-text-group .toy-project-title.active::before {
  transform: scaleX(0);
  transition-delay: 0.5s;
  /*0.5초 -> 글자 가 나타난 뒤에 가림막은 나타나야 한다.*/
}
.toy-project-text-group .toy-project-text {
  display: inline-block;
  margin-top: 5px;
  color: #e2e2e2;
  border-bottom: 3px solid #5e96ff;
  font-family: "Dongle", sans-serif;
  font-weight: 500;
  font-size: 2em;
  letter-spacing: 2px;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.toy-project-text-group .toy-project-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5e96ff;
  transform-origin: right;
  /*오른쪽*/
  transition: 0.5s;
  transition-delay: 0;
  /*0초 -> 글자가 작아지기전 먼저 작아저야한다.*/
}
.toy-project-text-group .toy-project-text.active {
  transform: scaleX(1);
  /*크기1*/
  transition-delay: 0s;
  /*0초*/
}
.toy-project-text-group .toy-project-text.active::before {
  transform: scaleX(0);
  transition-delay: 0.5s;
  /*0.5초 -> 글자 가 나타난 뒤에 가림막은 나타나야 한다.*/
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: #232323;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  transform: translateX(100px);
  cursor: pointer;
  z-index: 5;
}
.to-top:hover {
  background-color: #5e96ff;
}
.to-top:active, .to-top:focus {
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 768px) {
  .to-top {
    bottom: 30px;
    right: 30px;
    width: 38px;
    height: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .to-top {
    width: 42px;
    height: 42px;
  }
}

/*# sourceMappingURL=style.css.map */
