//header
$header-z-index:10;

//title-section
$title-z-index:1;

//profile-section
$profile-section-z-index:2;

//toy-project-section
$imgBx-z-index:3;
$bg-effect-z-index:1;
$content-z-index:1;
$project-btn-z-index:1;

//to-top-btn
$to-top-btn-z-index: 5;

