//header
$header-z-index:10;

//title-section
$title-z-index:2;

//profile-section
$profile-section-z-index:3;


//tech-section
$skill-z-index: 5;

//toy-project-section
$toy-prject-z-index:1;
$imgBx-z-index:2;


//to-top-btn
$to-top-btn-z-index: 5;

